<h2>Mention pour les graphistes qui ont dessinés les pictogrammes</h2>
<br>
<div>Icônes conçues par <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
<div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
<div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/google" title="Google">Google</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
<div>Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/hirschwolf" title="hirschwolf">hirschwolf</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div><a href="https://www.vecteezy.com/free-vector/web">Web Vectors by Vecteezy</a></div>
