<div class="contact">


  <div class="contact-content">
    <form class="contact-form" method="post" id="contact-site-form" accept-charset="UTF-8">
      <div>

        <div class="contact-form-item contact-form-textfield contact-form-name">
          <label for="name">Votre nom
            <span class="item-required" title="Ce champ est obligatoire.">*</span>
          </label>
          <input type="text" id="name" value="" class="form-text required">
        </div>

        <div class="contact-form-item contact-form-textfield contact-form-mail">
          <label for="mail">Votre adresse de courriel
            <span class="item-required" title="Ce champ est obligatoire.">*</span>
          </label>
          <input type="text" id="mail" value="" class="form-text required">
        </div>

        <div class="contact-form-item contact-form-textfield contact-form-subject">
          <label for="subject">Sujet
            <span class="item-required" title="Ce champ est obligatoire.">*</span>
          </label>
          <input type="text" id="subject" value="" class="form-text required">
        </div>

        <div class="contact-form-item contact-form-textarea contact-form-message">
          <label for="message">Message
            <span class="item-required" title="Ce champ est obligatoire.">*</span>
          </label>
          <div class="form-textarea">
            <textarea id="message" class="form-textarea required"></textarea>
          </div>
        </div>

        <div class="contact-form-submit">
          <input type="submit" id="submit" value="Envoyer le message" class="form-submit">
        </div>

      </div>
    </form>
  </div>
</div>
