.formContainer {
  margin: 5px auto auto;
  height: 100%;
  width: fit-content;
}

.formItem {
  margin-top: 20px;
}

label {
  margin-top: 10px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
}
