<div class="height-width-100">


  <div class="formContainer">
    <form class="height-width-100" method="post" accept-charset="UTF-8">
      <div>

        <div class="formItem width-100">
          <label class="floatLeft" for="name">Votre nom
            <span title="Ce champ est obligatoire.">*</span>:
          </label>
          <input type="text" id="name" name="user_name" value="" class="formText width-100 floatLeft required">
        </div>

        <div class="formItem width-100">
          <label class="floatLeft" for="mail">Votre adresse de courriel
            <span title="Ce champ est obligatoire.">*</span>:
          </label>
          <input type="text" id="mail" name="user_mail" value="" class="formText width-100 floatLeft required">
        </div>

        <div class="formItem width-100">
          <label class="floatLeft" for="subject">Sujet
            <span title="Ce champ est obligatoire.">*</span>:
          </label>
          <input type="text" id="subject" name="user_subject" value="" class="formText width-100 floatLeft required">
        </div>

        <div class="formItem width-100">
          <label class="floatLeft" for="message">Message
            <span title="Ce champ est obligatoire.">*</span>:
          </label>
          <div class="height-width-100 required">
            <textarea id="message" name="user_message"></textarea>
          </div>
        </div>

        <div class="formSubmit">
          <input type="submit" id="submit" value="Envoyer le message" class="formSubmitButton">
        </div>

      </div>
    </form>
  </div>
</div>
