.account-page-container {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.account-page:after, .account-page:before {
  display: table;
  content: "";
}

.account-page:after {
  clear: both;
}

.account-page {
  padding-top: 20px;
  width: 100%;
  height: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.menu-container {
  width: 25%;
  display: block;
  padding-right: 24px !important;
  padding-left: 10px;
}

.menu {
  position: relative !important;
  margin-bottom: 15px;
  list-style: none;
  background-color: var(--main-bg-color0);
  border: 1px solid var(--main-bg-color2);
  border-radius: 3px;
  display: block;
}

.menu-title-container {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  line-height: 20px;
  color: var(--main-bg-color4);
  list-style: none;
  background-color: var(--main-bg-color2);
  border: 1px solid var(--main-bg-color2);
  font-size: 18px;
  font-weight: 600;
}

.menu-item-title-container {
  position: relative;
  display: block;
  padding: 8px 10px;
  color: black;
  text-decoration: none;
  list-style: none;
  background-color: var(--main-bg-color0);
  border: 1px solid var(--main-bg-color2);
  font-size: 14px;
}

.menu-item-title-container:hover:before,
.menu-item-title-container.selected:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  content: "";
  background-color: var(--main-bg-color2);
}

.menu-item-title-container:hover {
  background-color: var(--main-bg-color1);
}

.menu-item-title-container.selected {
  background-color: var(--main-bg-color1);
  font-weight: 600;
}

.sub-menu-item-title-container {
  position: relative;
  display: block;
  padding: 10px 0 10px 0;
  color: black;
  text-decoration: none;
  list-style: none;
  background-color: var(--main-bg-color0);
  border: 1px solid var(--main-bg-color2);
  font-size: 12px;
  transition-property: padding, height, border-bottom-width;
  transition: 0.2s ease-in-out, 0.1s step-end font-size;
}

.sub-menu-item-title-container:hover {
  background-color: var(--main-bg-color1);
}

.sub-menu-item-title-container:hover:before {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -1px;
  width: 10px;
  content: "";
  border-radius: 0 50% 50% 0;
  background-color: var(--main-bg-color2);
}

.sub-menu-item-title-container:hover:after {
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  width: 10px;
  content: "";
  border-radius: 50% 0 0 50%;
  background-color: var(--main-bg-color2);
}

.sub-menu-item-title-container.selected {
  background-color: var(--main-bg-color1);
  font-weight: 600;
}

.sub-menu-item-title-container.selected:before {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -1px;
  width: 10px;
  content: "";
  border-radius: 0 50% 50% 0;
  background-color: var(--main-bg-color2);
}

.sub-menu-item-title-container.closed {
  height: 0;
  padding: 0 0;
  font-weight: 100;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  border: 0;
}

.sub-menu-item-title-container.selected:after {
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  width: 10px;
  content: "";
  border-radius: 50% 0 0 50%;
  background-color: var(--main-bg-color2);
}

.menu-page-container {
  float: left !important;
  /*width: 75%;*/
  width: 100%;
  height: 100%;
  display: block;
}

.menu-page {
  width: calc(100% - 10px);
  height: 100%;
  margin-left: 5px;
}

.menu-page-title-container {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid #e1e4e8;
  flex-flow: row wrap;
  margin-bottom: 0 !important;
}

.menu-page-title {
  flex: 1 1 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-page-content-container {
  height: calc(100% - 20px);
  display: flex !important;
  flex-shrink: 0 !important;
}

.menu-page-content-container:after, .menu-page-content-container:before {
  display: table;
  content: "";
}

.menu-page-content-container:after {
  clear: both;
}

.menu-page-content {
  overflow-y: auto;
  -ms-overflow-style: none;
}

.menu-page-content::-webkit-scrollbar {
  display: none;
}

.imageLogoAFSR {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
  /* padding: 5px;*/
}

.clickable {
  cursor: pointer;
}

.imageTextAFSR {
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
  /* padding: 5px;*/
}

.topBarAFSRLogo {
  display: inline-block;
  height: 22px;
  width: 25px;
  /* padding: 5px;*/
}

.topBarAFSRText {
  display: inline-block;
  height: 22px;
  width: 70px;
  /* padding: 5px;*/
}
