.wordOrSentence {
  text-align: center;
  height: 100%;
  width: 100%;
}

.img {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: var(--main-bg-color1);
  border-radius: 10px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.backgroundWhite {
  background: lightgrey;
}