<div class="width-100">
  <div class="popupcontainer">
    <div class="palettes">
      <ng-container *ngFor="let palette of this.paletteService.palettes">
        <div class="paletteLabel width-100 floatLeft" (click)="this.editionService.selectThePalette(palette.name)">
          {{palette.name}}
          <div class="moreLess">
            {{this.editionService.selectedPalette == palette.name ? '▲' : '▼'}}
          </div>
        </div>
        <div class="palette width-100 floatLeft" *ngIf="this.editionService.selectedPalette == palette.name"
          [ngStyle]="{'grid-template-rows': 'repeat(' + this.paletteService.rowNumber(palette.colors.length) + ',30px)'}">
          <div class="color floatLeft" [class.realcolor]="color!==null" *ngFor="let color of palette.colors"
            [ngStyle]="{'background-color': color}" (click)="this.editionService.selectBorderColor(color);">
          </div>
        </div>
      </ng-container>
    </div>
    <mat-action-list>
      <input type="checkbox" name="defaultBorder" id="defaultBorder" [checked]="this.editionService.borderCheck"
        (click)="this.editionService.checkBorderColor()">
      <label for="defaultBorder"> {{this.multilinguism.translate("setAsDefault")}}</label>
    </mat-action-list>
  </div>
</div>