dist: trusty
sudo: required

language: node_js
node_js:
  - "10"

addons:
  chrome: stable

before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run test -- --watch=false --progress=false
#  - npm run e2e -- --protractor-config=./e2e/protractor-ci.conf.js
