.tile {
  cursor: pointer;
  height: 100%;
  width: 100%;
  visibility: visible;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pictogram {
  height: 80px;
  width: 80%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.element h3 {
  text-align: center;
}

.delete {
  color: red;
}
