
.elementContainer {
  min-height: 1cm;
  min-width: 1cm;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.elementContainer .selectCheckBox {
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: var(--main-bg-color1);
  box-sizing: border-box;
  border-radius: 100%;
  top: -100%;
  visibility: visible;
}

.elementContainer .selectCheckBox .image {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  visibility: visible;
}

.elementContainer .deleteElement {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  top: -100%;
  background-color: indianred;
  border-radius: 10px 0 50% 0;
  visibility: visible;
  border-style: solid;
  border-color: darkred;
  border-width: 2px;
  box-sizing: border-box;
}

.elementContainer .deleteElement:hover {
  background-color: darkred;
}

.elementContainer .elementVisibility {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  top: -30px;
  background-color: var(--main-bg-color1);
  border-radius: 0 50% 0 10px;
  visibility: visible;
  border-style: solid;
  border-color: var(--main-bg-color4);
  border-width: 2px;
  box-sizing: border-box;
}

.elementContainer .elementVisibility:hover {
  background-color: var(--main-bg-color3);
}

.elementContainer .deleteElement .image,
.elementContainer .elementVisibility .image {
  width: 70%;
  height: 70%;
  margin-left: 15%;
  transform: translateY(20%);
  visibility: visible;
}

.elementContainer .element:hover {
  /*filter: brightness(80%);*/
}

.elementContainer .element {
  cursor: pointer;
  visibility: visible;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  align-items: center;
}


.elementContainer .noImageElement {
  grid-template-rows: 40% 20%;
}

.elementContainer .element .image {
  height: calc(100% - 5px);
  width: 98%;
  margin-left: 1%;
  visibility: visible;
  align-items: center;
}

.elementContainer .label {
  font-size: 2vh;
  height: 20%;
  width: 90%;
  margin-left: 5%;
  visibility: visible;
}

.adjustableText {
  text-align: center;
  font-size: 1.8vmin;
  width: 100%;
  height: fit-content;
  align-items: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-all;
}

.elementContainer .blurredElt {
  cursor: default;
  filter: blur(5px);
}

.elementContainer .blurredElt:hover {
  filter: blur(5px);
}

.elementContainer .searched:hover {
  filter: drop-shadow(0 0 20px yellow) saturate(300%);
}

.elementContainer .searched {
  filter: drop-shadow(0 0 20px yellow) saturate(300%);
}

.elementContainer .notsearched:hover {
  filter: brightness(50%);
}

.elementContainer .notsearched {
  filter: brightness(50%);
}

.elementContainer .visible {
  opacity: 0;
}

.borderEdit {
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: mymove ease-in-out 1s infinite alternate;
  pointer-events: none;
  border-radius: 15px;
}

@keyframes mymove {
  from {
    background-color: transparent;
    box-shadow: 0 200px 100px -100px yellow inset;
  }
  to {
    background-color: yellow;
    box-shadow: 0 100px 200px -100px transparent inset;
  }
}

.drag-handler{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: -30px;
  background-color: var(--main-bg-color1);
  border-radius: 50% 50% 10px;
  visibility: visible;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  box-shadow: inset -1px -1px 3px 0px black;
  z-index: 999999;
  cursor: all-scroll;
}

.drag-img{
  width: 20px;
  height: 20px;
  margin-left: -4px;
}
