<!-- display elementContainers with element having non empty type-->
<div id="{{element.ID}}" class="elementContainer floatLeft" *ngIf="element.Type!=='empty'"
     (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
     <!-- an element composed of a pictogram and a corresponding text-->
     <div class="element" [class.notsearched]="searchStarted()&&!isSearched(element)" (click)="this.select(element)"
          (pointerenter)="enter($event, element)" (pointerleave)="exit()"
          [class.searched]="searchStarted()&&isSearched(element)" [class.blurredElt]="element.ID==='#disable'"
          (dblclick)="this.editionService.edit(element)" (touchstart)="this.pointerDown(element,0)"
          (touchend)="this.pointerUp(element,0)" (pointerdown)="this.pointerDown(element,1)"
          (pointerup)="this.pointerUp(element,1)" [ngStyle]="{
        'background-color': this.gridElementService.getStyle(element).BackgroundColor !== null ? this.gridElementService.getStyle(element).BackgroundColor : 'var(--main-bg-color3)' ,
        'border-color': this.gridElementService.getStyle(element).BorderColor === null || this.gridElementService.getStyle(element).BorderColor === undefined ? 'black' : this.gridElementService.getStyle(element).BorderColor,
        'box-shadow': this.getShadow(element) ,
        'opacity': this.getOpacity(element),
        'width': this.getWidth(element),
        'height': this.getHeight(element),
        'margin-top': this.getMarginTop(element),
        'cursor': this.getCursor(element),
        'color': this.gridElementService.getStyle(element).TextColor === null || this.gridElementService.getStyle(element).TextColor === undefined ? 'black' : this.gridElementService.getStyle(element).TextColor,
        'border-width': this.gridElementService.getStyle(element).BorderWidth === null || this.gridElementService.getStyle(element).BorderWidth === undefined ? '3px' : this.gridElementService.getStyle(element).BorderWidth,
        'border-radius': this.gridElementService.getStyle(element).BorderRadius === null || this.gridElementService.getStyle(element).BorderRadius === undefined ? '3px' : this.gridElementService.getStyle(element).BorderRadius,
        'grid-template-rows': this.getGridTemplateRows(),
        'grid-template-columns': this.getGridTemplateColumns(),
        'font-family': this.getFontFamily()}">

          <div *ngIf="displayTopLabel(element)" class="adjustableText">
               {{this.boardService.getLabel(element)}}
          </div>

          <div *ngIf="displayImage(element)" class="image haveBackgroundImage"
               [style.background-image]="this.boardService.getImgUrl(element)"></div>

          <div *ngIf="displayBottomLabel(element)" class="adjustableText">
               {{this.boardService.getLabel(element)}}
          </div>

     </div>

     <!-- in edit mode this button is used to delete the associated element -->
     <div class="deleteElement floatLeft"
          *ngIf="this.userToolBarService.edit && element.ID !== '#disable' && element.dragAndResizeEnabled!==false"
          (click)="this.delete(element)">
          <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('delete')">
          </div>
     </div>

     <!-- in edit mode this button is used to select the associated element -->
     <div class="selectCheckBox floatLeft"
          *ngIf="this.userToolBarService.edit && this.editionService.isSelected(element) && element.ID !== '#disable'  && element.dragAndResizeEnabled!==false">
          <div class="image haveBackgroundImage"
               [style.background-image]="this.editionService.isSelected(element)?this.getIcon('check'):null">
          </div>
     </div>

     <!-- in edit mode this button is used to change the visibility of the associated element for 'babble' function-->
     <div class="elementVisibility"
          *ngIf="this.userToolBarService.edit && element.ID !== '#disable'  && element.dragAndResizeEnabled!==false"
          (click)="this.changeVisibility(element)">
          <div class="image haveBackgroundImage"
               [style.background-image]="this.isVisible(element) ? this.getIcon('hide') : this.getIcon('show')">
          </div>
     </div>


</div>
<button class="drag-handler"
     *ngIf="this.userToolBarService.edit && element.ID !== '#disable'  && element.dragAndResizeEnabled!==false">
     <img src="assets/icons/drag.png" class="drag-img" alt="drag">
</button>
<div *ngIf="this.editionService.isSelected(element)" class="borderEdit"></div>