.settings{
  position: absolute;
  top:0%;
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
  transition: top 0.5s , opacity 0.5s;
  opacity: 1;
  overflow: scroll;
}

.settings .topBar{
  width: 100%;
  height: 1.5cm;
  background-color: grey;
  box-shadow: 0px 5px 10px black;
  margin-bottom: 1cm;
}

.addPalette{
  margin-left: 20px;
  margin-top: 0px;
  width: 300px;
  background-color: grey;
}

.addPalette .palette{
  text-align: center;
  width: 300px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10,30px);
  background-color: grey;
}

.addPalette .palette .color{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.addPalette .palette .deleteColor{
  position: absolute;
  margin-left: 15px;
  margin-top: -5px;
  height: 10px;
  width: 10px;
  background-color: lightgrey;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.addPalette .palette .moreColor {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}


.addPalette .palette .ok{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: seagreen;
  border-radius: 50%;
}

.addPalette .palette .cancel{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: indianred;
  border-radius: 50%;
}


.addPalette .palette .more .colorPicker{
  position: absolute;
  top: 0;
  visibility: hidden;
}

.addPalette .addButtonPalette{
  text-align: center;
  width: 100px;
  transform: translateY(10%);
  margin-left: 100px;
  height: 25px;
  background-color: lightgrey;
}

.palettes{
  display: inline-block;
  margin-top: 5px;
  width: 400px;
  height: fit-content;
}

.palettes .paletteLabel{
  float: left;
  width: 350px;
  height: 20px;
  background-color: dimgrey;
}

.palettes .palette{
  float: left;
  width: 300px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10,30px);
  background-color: grey;
  margin-bottom: 10px;
}

.palettes .supprPalette{
  float: left;
  width: 50px;
  background-color: grey;
}.palettes .supprPalette:hover{
   background-color: dimgrey;
 }

.palettes .supprPalette .icon{
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.palettes .palette .color{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.palettes .palette .realcolor{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.palettes .palette .realcolor:hover{
  cursor: pointer;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}


.popup{
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  background-color: dimgrey;

}

.popup .popupcontainer{
  height: 96%;
  width: 96%;
  margin-left: 2%;
  transform: translateY(2.5%);
  background-color: grey;
}

.popup .popupcontainer .question{
  text-align: center;
  width: 70%;
  height: 20%;
  margin-left: 15%;
  transform: translateY(100%);
}

.popup .popupcontainer .buttons{
  width: 70%;
  height: 30%;
  margin-left: 15%;
  transform: translateY(100%);
}

.popup .popupcontainer .buttons .choiceButton{
  text-align: center;
  float: left;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.yes{
  background-color: darkseagreen;
}

.yes:hover{
  background-color: darkgreen;
}

.no{
  background-color: indianred;
}

.no:hover{
  background-color: darkred;
}
