<div class="settings fillParent">
  <div class="settings-page">
    <div class="settings-item">
      <label for="longPressTime">longPress value:</label>
      <input id="longPressTime" type="text" [(ngModel)]="this.parametersService.longpressTimeOut"
             placeholder="enter a value">
    </div>

    <div class="settings-item">
      <label for="doubleClickTime">doubleClick value:</label>
      <input id="doubleClickTime" type="text" [(ngModel)]="this.parametersService.doubleClickTimeOut"
             placeholder="enter a value">
    </div>
  </div>
</div>
