<div class="settings width-100">
  <div class="settings-page">
    <div class="settings-item">
      <label for="longPressTime">{{this.multilinguism.translate("longPressValue")}}:</label>
      <input id="longPressTime" type="text" [(ngModel)]="this.configurationService.longpressTimeOut"
             placeholder="{{this.multilinguism.translate('enterValue')}}">
    </div>

    <div class="settings-item">
      <label for="doubleClickTime">{{this.multilinguism.translate("dblClickValue")}}:</label>
      <input id="doubleClickTime" type="text" [(ngModel)]="this.configurationService.doubleClickTimeOut"
             placeholder="{{this.multilinguism.translate('enterValue')}}">
    </div>
    <div class="settings-item">
      <label for="dwellTime">{{this.multilinguism.translate("dwellTime")}}:</label>
      <input id="dwellTime" type="checkbox" [(ngModel)]="this.configurationService.dwellTimeActivated"
      >
    </div>
  </div>
</div>
