.settings{
  position: absolute;
  top:0%;
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
  transition: top 0.5s , opacity 0.5s;
  opacity: 1;
}

.settings .topBar{
  width: 100%;
  height: 1.5cm;
  background-color: grey;
}
