<div class="width-100">
  <div style="  margin: 20px ;width: fit-content;">
    <label for="titleDisplay">{{this.multilinguismService.translate("chooseTitleDisplay")}}:</label>
    <select id="titleDisplay" class="variantListBox" [(ngModel)]="usertoolbarService.titleDisplayValue">
      <option value="default">default</option>
      <option value="imageOnly">imageOnly</option>
      <option value="textOnly">textOnly</option>
    </select>
  </div>


  <div style="  margin: 20px ;width: fit-content;">
    <label for="titleFormat">{{this.multilinguismService.translate("chooseTitleFormat")}}:</label>
    <select [disabled]="usertoolbarService.titleDisplayValue==='imageOnly'" id="titleFormat" class="variantListBox"
            [(ngModel)]="usertoolbarService.titleFormat">
      <option value="default">default</option>
      <option value="nameOnly">nameOnly</option>
    </select>
  </div>

</div>
