<div class="width-100">
  <div style="  margin: 20px ;width: fit-content;">
    <label for="titleDisplay">{{this.multilinguism.translate("chooseTitleDisplay")}}:</label>
    <select id="titleDisplay" class="variantListBox" [(ngModel)]="usertoolbarService.titleDisplayValue">
      <option value="default">{{this.multilinguism.translate("default")}}</option>
      <option value="imageOnly">{{this.multilinguism.translate("imageOnly")}}</option>
      <option value="textOnly">{{this.multilinguism.translate("textOnly")}}</option>
    </select>
  </div>


  <div style="  margin: 20px ;width: fit-content;">
    <label for="titleFormat">{{this.multilinguism.translate("chooseTitleFormat")}}:</label>
    <select [disabled]="usertoolbarService.titleDisplayValue==='imageOnly'" id="titleFormat" class="variantListBox"
            [(ngModel)]="usertoolbarService.titleFormat">
      <option value="default">{{this.multilinguism.translate("default")}}</option>
      <option value="nameOnly">{{this.multilinguism.translate("nameOnly")}}</option>
    </select>
  </div>

</div>
