
.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.tableEvent {
  height: fit-content;
  width: 33%;
  margin: auto;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr;*/
  display: inline-grid;
  grid-gap: 5px;
  padding: 10px;
  background-color: whitesmoke;
}

.leftTabLabel {
  vertical-align: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 30px;
}

.event {
  box-sizing: border-box;
  background-color: white;
}

.event .icon {
  float: top;
  height: 80px;
  width: 80px;
  margin: 10px auto auto;

}

.event .checkmark {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
}
