
.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.tableEvent {
  height: fit-content;
  width: 33%;
  margin: auto;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr;*/
  display: inline-grid;
  grid-gap: 5px;
  padding: 10px;
  background-color: whitesmoke;
}

.leftTabLabel {
  vertical-align: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 30px;
}

.event {
  box-sizing: border-box;
  background-color: white;
}

.event .icon {
  float: top;
  height: 80px;
  width: 80px;
  margin: 10px auto auto;

}

.event .checkmark {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
}

.remove {
  margin-right: 5px;
  background-color: transparent;
  border-color: transparent;
  color: red;
  cursor: pointer;
  border-radius: 0;
  border-width: 0;
}

.remove:hover{
  background-color: mistyrose;
  border-radius: 0;
  border-width: 0;
}

.remove:active{
  background-color: #FFC5C3;
  border-radius: 0;
  border-width: 0;
}

.buttonAdd{
  border-width: 0;
  background-color: var(--main-bg-color1);
}

.buttonAdd:hover{
  border-width: 0;
  background-color: var(--main-bg-color3);
  cursor: pointer;
}

.buttonAdd:active{
  border-width: 0;
  background-color: var(--main-bg-color4);
}
