
 .elementEvent {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  transform: translateY(2%);
  background-color: lightgrey;
}

 .elementEventContainer {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  transform: translateY(5%);
  background-color: white;
}

 .elementEventContainer .elementevent {
  text-align: center;
  height: 30%;
  width: 90%;
  margin-left: 5%;
  background-color: lightgrey;
  margin-top: 3%;
  transform: translateY(5%);
}

 .elementEventContainer .label {
  text-align: center;
  height: 30%;
  width: 80%;
  transform: translateY(15%);
}

 .elementEventContainer .goto {
  text-align: center;
  width: 19%;
  transform: translateY(5%);
}


 .optionsTable .event {
  height: 60%;
  width: 20%;
  margin-left: 5%;
  transform: translateY(30%);
  background-color: white;
  float: left;
}

 .optionsTable .event .icon {
  float: top;
  height: 75%;
  width: 70%;
  margin-left: 15%;
  transform: translateY(5%);
}

 .optionsTable .event .label {
  float: left;
  height: 10%;
  width: 80%;
  transform: translateY(100%);
}

 .optionsTable .event .checkmark {
  float: left;
  height: 20%;
  width: 20%;
  transform: translateY(20%);
}


.floatLeft {
  float: left;
}

.height90 {
  height: 90%;
}

 .imageContainer {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }
