<div class="elementEvent height90" *ngIf="this.isEventDisplayed()">
  <div class="elementEventContainer height90">
    <div class="elementevent" (click)="this.selectInteraction(1)"
         [ngStyle]="{'background-color': this.isCurrentInteraction(1)?'lightblue':'lightgrey'}">
      <div class="label floatLeft">
        Interaction: {{this.parametersService.interaction[0]}}
      </div>
      <input class="goto height90 floatLeft" type="button" value=">">
    </div>
    <div class="elementevent" (click)="this.selectInteraction(2)"
         [ngStyle]="{'background-color': this.isCurrentInteraction(2)?'lightblue':'lightgrey'}">
      <div class="label floatLeft">
        Interaction: {{this.parametersService.interaction[1]}}
      </div>
      <input class="goto height90 floatLeft" type="button" value=">">
    </div>
    <div class="elementevent" (click)="this.selectInteraction(3)"
         [ngStyle]="{'background-color': this.isCurrentInteraction(3)?'lightblue':'lightgrey'}">
      <div class="label floatLeft">
        Interaction: {{this.parametersService.interaction[2]}}
      </div>
      <input class="goto height90 floatLeft" type="button" value=">">
    </div>
  </div>
</div>

<div class="optionsTable height90" *ngIf="this.isEventDisplayed()">
  <ng-container *ngIf="this.currentInterractionNumber!=-1">
    <div class="event floatLeft" (click)="this.addOrRemoveToInteraction('display')">
      <div class="icon imageContainer" [ngStyle]="{'background-image':this.getIcon('display')}">
      </div>
      <div class="label">
        Display
      </div>
      <div class="checkmark floatLeft imageContainer"
           [ngStyle]="{'background-image': this.isPartOfCurrentInteraction('display')?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"></div>
    </div>
    <div class="event" (click)="this.addOrRemoveToInteraction('say')">
      <div class="icon imageContainer" [ngStyle]="{'background-image':this.getIcon('say')}">
      </div>
      <div class="label floatLeft">
        Pronounce
      </div>
      <div class="checkmark floatLeft imageContainer"
           [ngStyle]="{'background-image': this.isPartOfCurrentInteraction('say')?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"></div>
    </div>
    <div class="event" (click)="this.addOrRemoveToInteraction('otherforms')">
      <div class="icon imageContainer" [ngStyle]="{'background-image':this.getIcon('variants')}">
      </div>
      <div class="label floatLeft">
        Show other forms
      </div>
      <div class="checkmark floatLeft imageContainer"
           [ngStyle]="{'background-image': this.isPartOfCurrentInteraction('otherforms')?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"></div>
    </div>
  </ng-container>
</div>
