<!-- <div class="toolbar"> -->
<!-- <button (click)="this.setE(true)">Drag enabled</button>
  <button (click)="this.setE(false)">Drag disable</button> -->

<!-- </div> -->

<button (click)="this.layoutService.setDraggable(false)">Drag disable</button>
<button (click)="this.layoutService.setDraggable(true)">Drag unenable</button>


<gridster [options]="options">
  <gridster-item *ngFor=" let item of layout" [item]="item.gridsterItem">
    <!-- <button (click)="this.deleteItem(item.gridsterItem.id)">Remove</button> -->
    <app-tile [element]=item.element></app-tile>
  </gridster-item>
</gridster>
