  <div class="page">

    <div class="page-content" style="height: 100%">
      <ng-container *ngIf="this.editionService.selectedElements.length <= 0 && !this.editionService.add">
        <app-error-on-edit></app-error-on-edit>
      </ng-container>
      <ng-container *ngIf="this.editionService.selectedElements.length > 1">
        <div class="tableTitle" style="text-align: center; color: indianred">
          L'édition des variantes des mots est impossible si plus d'un élément a été sélectionné.
        </div>
      </ng-container>
      <ng-container *ngIf="this.editionService.selectedElements.length === 1 || this.editionService.add">
        <div class="tableTitle">
          Modifier les variantes du mot:
        </div>
          <div class="alternativeElementVariant">

<!--            DISPLAY TABLE OF EXISTING FORMS-->
            <div class="wrapperPreview centerText floatLeft">
              <ng-container *ngFor="let b of this.getVariantListExceptDefault()">
                <div class="elementContainer">
                  <div class="element" [class.inModification]="b===this.selectedItem" (click)="select(b)"
                       [ngStyle]="{'background-color': this.editionService.curentColor ,
                    'border-color': this.editionService.curentBorderColor}">

                    <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getSanitizeURL(b)}"> </div>

                    <svg viewBox="0 0 80 15">
                      <text x="50%" y="50%" dominant-baseline="middle"
                            text-anchor="middle">{{this.selectedItem ===b ? this.elementFormDisplayedWordField :b.DisplayedText}}</text>
                    </svg>
                  </div>
                  <div class="deleteElement" (click)="deleteElementForm(b)">
                    <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('delete')"></div>
                  </div>
                  </div>
              </ng-container>
                <ng-container *ngIf="this.currentMode==='addNew'">
                <div class="element inModification" [ngStyle]="{'background-color': this.editionService.curentColor ,
                    'border-color': this.editionService.curentBorderColor}" >
                  <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getPreviewURL()}"> </div>

                  <svg viewBox="0 0 80 15">
                    <text x="50%" y="50%" dominant-baseline="middle"
                          text-anchor="middle">{{this.elementFormDisplayedWordField}}</text>
                  </svg>
                </div>
                </ng-container>

                <div class="element addButton" (click)="this.selectNewForm()">
                  <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getIcon('add')}"> </div>

                  <svg viewBox="0 0 80 15">
                    <text x="50%" y="50%" dominant-baseline="middle"
                          text-anchor="middle">ajouter</text>
                  </svg>
                </div>
            </div>



<!--            MODIFY AN EXISTING FORM-->
            <ng-container *ngIf="this.currentMode !== ''" >
            <div class="floatLeft" style="margin-left: 10px; width: calc(50% - 10px)">

              <div  [class.tableTitle]="this.currentMode === 'addNew'"> {{getTitle('table')}}</div>
                <div [class.elementVariantAddNew]="this.currentMode === 'addNew'">

              <div class="tableTitle"> {{getTitle('name')}} </div>
              <div class="variantContainer">
                <div class="elementVariant">
                  <label class="label" for="displayedName">mot affiché: </label>
                  <input [(ngModel)]="this.elementFormDisplayedWordField" class="input width-100" id="displayedName"
                         placeholder="Entrez le mot à afficher"
                         type="text">
                  <label class="label" for="pronouncedName">mot prononcé: </label>
                  <input class="input width-100" id="pronouncedName" [(ngModel)]="this.elementFormPronouncedWordField"
                         placeholder="Entrez le nom qui sera prononcé"
                         type="text">
                </div>
              </div>

              <div class="tableTitle"> {{getTitle('image')}}</div>
              <div class="variantContainer">
                <div class="elementVariant">
                <label class="label" for="imagefromfile">à partir d'un fichier: </label>
                <input #selectedFile (change)="previewFile(selectedFile.files)" onclick="this.value=null" accept='image/*' class="input" type="file"
                       id="imagefromfile">
                <label class="label" for="imagefromURL">à partir d'une URL: </label>
                <div class="inputURL">
                  <input class="searchField" type="search" id="imagefromURL" #text
                         placeholder="Entrez l'URL d'une image">
                  <input class="searchURL" type="button" value="Ok" (click)="previewWithURL(text.value)">
                </div>
                <label class="label" for="imagefromLib">à partir des bibliothèques: </label>
                <div class="input">
                  <input #search class="searchField" type="search" id="imagefromLib"
                         placeholder="Cherchez un mot (ENG)">
                  <input class="searchLib" type="button" value="search" (click)="searchInLib(search.value)">
                </div>
                </div>
              </div>

              <div class="wrapperPreview" style="height: 100px">
                <ng-container *ngFor="let b of this.imageList ">

                  <div class="pictoImg haveBackgroundImage"
                       [ngStyle]="{'background-image':'url(assets/libs/mulberry-symbols/EN-symbols/'+b+'.svg)'}"
                       (click)="previewMullberry(b)"></div>
                </ng-container>
              </div>
              <input id="saveAlternativeFormModifButton" type="button" value="enregistrer les modifications" (click)="saveCurrentElementForm()">
            </div>
            </div>
            </ng-container>


<!--            ADD A NEW ELEMENT FORM-->
            <ng-container *ngIf="this.currentMode === 'addNew' ">
            <div class="floatLeft" style="margin-left: 10px; width: calc(50% - 10px)">

              <div class="tableTitle">
                Ajouter des variantes du mot depuis le net:
              </div>
              <div class="variantContainer">
              <div class="elementVariant">
                <label class="label" for="wordToSearch">Chercher des variantes du mot en ligne: </label>
                <div class="width-100">
                  <input id="wordToSearch" #wordToSearch class="inputText floatLeft" type="text" placeholder="Entrez un mot"
                         value="{{this.editionService.name}}">
                  <input (click)="getWordList(wordToSearch.value)" class="search floatLeft" type="button" value="search">
                </div>
                  <label for="classe-select">
                    <div class="floatLeft">Choisissez une classe grammaticale:</div>
                    <div *ngIf="this.dbnaryService.searchStarted == 1"
                         [ngStyle]="{'background-image':'url(assets/icons/load.gif'}"
                         class="waitVariant floatLeft haveBackgroundImage">
                    </div>
                  </label>
                  <div class="width-100">
                    <select [disabled]="this.dbnaryService.typeList.length===0" [(ngModel)]="this.editionService.classe"
                            class="variantListBox" id="classe-select" name="classe">
                      <option value="">--choisissez une option--</option>
                      <ng-container *ngFor="let b of this.dbnaryService.typeList ">
                        <option id="{{b}}radio" name="buttonType" value="{{b}}">{{b}}</option>
                      </ng-container>
                    </select>
                    <input (click)="displayVariant(this.editionService.classe,wordToSearch.value)" class="variantOk"
                           type="button"
                           value="OK">
                  </div>
                </div>
              </div>

              <div class="wrapperPreview centerText" style="width: calc(100% - 20px)">
                <ng-container *ngIf="this.dbnaryService.searchStarted==0">
                  <ng-container *ngFor="let b of this.dbnaryService.wordList">
                    <li class="variantList width-100">
                      <div (click)="b.selected=!b.selected" class="variant"
                           [ngStyle]="{'background-color': b.selected?'#d1d5da': '#eef4f9'}">
                        <div class="variantName floatLeft centerText">
                          {{b.val}}</div>
                        <div
                          [ngStyle]="{'background-image': b.selected?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"
                          class="selector haveBackgroundImage">
                        </div>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
                <ng-container>
                  <div *ngIf="this.dbnaryService.searchStarted==2"
                       [ngStyle]="{'background-image':'url(assets/icons/load.gif'}"
                       class="waitVariant floatLeft haveBackgroundImage"></div>
                </ng-container>
              </div>
            </div>
            </ng-container>

          </div>
      </ng-container>
    </div>
  </div>
