.page {
  margin-top: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.variantSelector {
  padding-top: 10px;
  padding-left: 10px;
  width: calc(100% - 10px);
}

.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.elementVariant {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 300px auto;
  padding-bottom: 20px;
}

.label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.elementVariant .input {
  display: inline-block;
}

.elementVariant .variantContainer {
  width: 100%;
}

.variantListBox {
  height: 100%;
  width: 300px;
}

.elementVariant .variantContainer .variantOk {
  display: block;
  width: 40%;
  margin-left: 30%;
}


.variantSelector .wrapperPreview {
  text-align: center;
  display: grid;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 150px;
  background-color: whitesmoke;
  overflow-y: scroll;
  grid-template-columns: repeat(7, 1fr);
}


.waitVariant {
  margin-left: 5px;
  float: left;
  height: 15px;
  width: 15px;
}


.variantSelector .variantOk {
}

.inputText {
  width: 300px;
}

.variantSelector .variantOk input {
  width: 100%;
  height: 100%;
}

.variantList {
  width: 100%;
  list-style-type: none;
}

.variantList .variant {
  cursor: pointer;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  border: black solid 1px;
}

.variantName {
  float: left;
  text-align: center;
  width: calc(100% - 25px);
  margin-top: 5px;
  height: 100%;
}

.variantList .variant .selector {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.imageContainer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.floatLeft {
  float: left;
}

.height90 {
  height: 90%;
}
