<ng-container *ngIf="this.isVariantDisplayed()">
  <div class="page">

    <div class="page-content">
      <div class="tableTitle">
        Modifier les variantes du mot:
      </div>
      <div class="elementVariant">
        <label class="label" for="wordToSearch">Chercher des variantes du mot en ligne: </label>
        <div class="width-100">
          <input id="wordToSearch" #wordToSearch class="inputText floatLeft" type="text" placeholder="Entrez un mot"
                 value="{{this.editionService.name}}">
          <input (click)="getWordList(wordToSearch.value)" class="search floatLeft" type="button" value="search">
        </div>

      </div>

      <div class="variantContainer">
        <div class="elementVariant">
          <label for="classe-select">
            <div class="floatLeft">Choisissez une classe grammaticale:</div>
            <div *ngIf="this.dbnaryService.searchStarted == 1"
                 [ngStyle]="{'background-image':'url(assets/icons/load.gif'}"
                 class="waitVariant floatLeft haveBackgroundImage">
            </div>
          </label>
          <div class="width-100">
            <select [disabled]="this.dbnaryService.typeList.length===0" [(ngModel)]="this.editionService.classe"
                    class="variantListBox" id="classe-select" name="classe">
              <option value="">--choisissez une option--</option>
              <ng-container *ngFor="let b of this.dbnaryService.typeList ">
                <option id="{{b}}radio" name="buttonType" value="{{b}}">{{b}}</option>
              </ng-container>
            </select>
            <input (click)="displayVariant(this.editionService.classe,wordToSearch.value)" class="variantOk"
                   type="button"
                   value="OK">
          </div>
        </div>
      </div>

      <div class="wrapperPreview centerText">
        <ng-container *ngIf="this.dbnaryService.searchStarted==0">
          <ng-container *ngFor="let b of this.dbnaryService.wordList">
            <li class="variantList width-100">
              <div (click)="b.selected=!b.selected" class="variant"
                   [ngStyle]="{'background-color': b.selected?'#d1d5da': '#eef4f9'}">
                <div class="variantName floatLeft centerText">
                  {{b.val}}</div>
                <div [ngStyle]="{'background-image': b.selected?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"
                     class="selector haveBackgroundImage">
                </div>
              </div>
            </li>
          </ng-container>
        </ng-container>
        <ng-container>
          <div *ngIf="this.dbnaryService.searchStarted==2" [ngStyle]="{'background-image':'url(assets/icons/load.gif'}"
               class="waitVariant floatLeft haveBackgroundImage"></div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
