<div class="page">

  <div class="page-content" style="height: 100%">
    <ng-container *ngIf="this.editionService.selectedElements.length <= 0 && !this.editionService.add">
      <app-error-on-edit></app-error-on-edit>
    </ng-container>
    <ng-container *ngIf="this.editionService.selectedElements.length > 1">
      <div class="tableTitle" style="text-align: center; color: indianred">
        {{this.multilinguism.translate("variantEditionImpossibleForMultipleSelection")}}
      </div>
    </ng-container>
    <ng-container *ngIf="this.editionService.selectedElements.length === 1 || this.editionService.add">
      <div class="tableTitle">
        {{this.multilinguism.translate("modifyWordVariants")}}
      </div>
      <div class="alternativeElementVariant">

        <!--            DISPLAY TABLE OF EXISTING FORMS-->
        <div class="wrapperPreview centerText floatLeft">
          <ng-container *ngFor="let b of this.getVariantListExceptDefault()">
            <div class="elementContainer">
              <div class="deleteElement" (click)="deleteElementForm(b)">
                <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('delete')"></div>
              </div>
              <div class="element" style="margin-top: -30px;" [class.inModification]="b===this.selectedItem"
                   (click)="select(b)"
                   [ngStyle]="{'background-color': this.editionService.curentColor ,
                    'border-color': this.editionService.curentBorderColor}">

                <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getSanitizeURL(b)}"></div>

                <svg viewBox="0 0 80 15">
                  <text x="50%" y="50%" dominant-baseline="middle"
                        text-anchor="middle">{{this.selectedItem === b ? this.elementFormDisplayedWordField : b.DisplayedText}}</text>
                </svg>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="this.currentMode==='addNew'">
            <div class="element inModification" [ngStyle]="{'background-color': this.editionService.curentColor ,
                    'border-color': this.editionService.curentBorderColor}">
              <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getPreviewURL()}"></div>

              <svg viewBox="0 0 80 15">
                <text x="50%" y="50%" dominant-baseline="middle"
                      text-anchor="middle">{{this.elementFormDisplayedWordField}}</text>
              </svg>
            </div>
          </ng-container>

          <div class="element addButton" (click)="this.selectNewForm()">
            <div class="image haveBackgroundImage" [ngStyle]="{'background-image': getIcon('add')}"></div>

            <svg viewBox="0 0 80 15">
              <text x="50%" y="50%" dominant-baseline="middle"
                    text-anchor="middle"> {{this.multilinguism.translate("add")}}</text>
            </svg>
          </div>
        </div>


        <!--            MODIFY AN EXISTING FORM-->
        <ng-container *ngIf="this.currentMode !== ''">
          <div class="floatLeft" style="margin-left: 10px; width: calc(50% - 10px)">

            <div [class.tableTitle]="this.currentMode === 'addNew'"> {{this.multilinguism.translate(getTitle('table'))}}
              :
            </div>
            <div [class.elementVariantAddNew]="this.currentMode === 'addNew'">

              <div class="tableTitle"> {{this.multilinguism.translate(getTitle('name'))}}:</div>
              <div class="variantContainer">
                <div class="elementVariant">
                  <label class="label" for="displayedName"> {{this.multilinguism.translate("displayedWord")}}: </label>
                  <input [(ngModel)]="this.elementFormDisplayedWordField" class="input width-100" id="displayedName"
                         placeholder="{{this.multilinguism.translate('enterWordToDisplay')}}"
                         type="text">
                  <label class="label" for="pronouncedName">{{this.multilinguism.translate("pronouncedWord")}}: </label>
                  <input class="input width-100" id="pronouncedName" [(ngModel)]="this.elementFormPronouncedWordField"
                         placeholder="{{this.multilinguism.translate('enterWordPronounced')}}"
                         type="text">
                </div>
              </div>

              <div class="tableTitle"> {{this.multilinguism.translate(getTitle('image'))}}:</div>
              <div class="variantContainer">
                <div class="elementVariant">
                  <label class="label" for="imagefromfile">{{this.multilinguism.translate("fromFile")}}: </label>
                  <input #selectedFile (change)="previewFile(selectedFile.files)" onclick="this.value=null"
                         accept='image/*' class="input" type="file"
                         id="imagefromfile">
                  <label class="label" for="imagefromURL">{{this.multilinguism.translate("fromURL")}}: </label>
                  <div class="inputURL">
                    <input class="searchField" type="search" id="imagefromURL" #text
                           placeholder="{{this.multilinguism.translate('enterImageURL')}}">
                    <input class="searchURL" type="button" value="Ok" (click)="previewWithURL(text.value)">
                  </div>
                  <label class="label" for="imagefromLib">{{this.multilinguism.translate("fromLibrary")}} </label>
                  <div class="input">
                    <input #search class="searchField" type="search" id="imagefromLib"
                           placeholder="{{this.multilinguism.translate('searchForWord')}}">
                    <input class="searchLib" type="button" value="{{this.multilinguism.translate('search')}}" (click)="searchInLib(search.value)">
                  </div>
                </div>
              </div>

              <div class="wrapperPreview" style="height: 100px">
                <ng-container *ngFor="let b of this.imageList ">

                  <div class="pictoImg haveBackgroundImage"
                       [ngStyle]="{'background-image':this.getThumbnailPreviewLibrary(b)}"
                       (click)="this.previewLibrary(b)"></div>
                </ng-container>
              </div>
              <input id="saveAlternativeFormModifButton" type="button"
                     value="{{this.multilinguism.translate('saveModif')}}" (click)="saveCurrentElementForm()">
            </div>
          </div>
        </ng-container>


        <!--            ADD A NEW ELEMENT FORM-->
        <ng-container *ngIf="this.currentMode === 'addNew' ">
          <div class="floatLeft" style="margin-left: 10px; width: calc(50% - 10px)">

            <div class="tableTitle">
              {{this.multilinguism.translate("addVariantsFromNet")}}:
            </div>
            <div class="variantContainer">
              <div class="elementVariant">
                <label class="label" for="wordToSearch">{{this.multilinguism.translate("lookingForVariantsOnline")}}
                  : </label>
                <div class="width-100">
                  <input id="wordToSearch" #wordToSearch class="inputText floatLeft" type="text"
                         placeholder="{{this.multilinguism.translate('enterWord')}}:"
                         value="{{this.editionService.name}}">
                  <input (click)="getWordList(wordToSearch.value)" class="search floatLeft" type="button"
                         value="{{this.multilinguism.translate('search')}}">
                </div>
                <label for="classe-select">
                  <div class="floatLeft">{{this.multilinguism.translate("chooseGrammaticalClass")}}:</div>
                  <div *ngIf="this.dbnaryService.searchStarted == 1"
                       [ngStyle]="{'background-image':'url(assets/icons/load.gif)'}"
                       class="waitVariant floatLeft haveBackgroundImage">
                  </div>
                </label>
                <div class="width-100">
                  <select [disabled]="this.dbnaryService.typeList.length===0" [(ngModel)]="this.editionService.classe"
                          class="variantListBox" id="classe-select" name="classe">
                    <option value="">--{{this.multilinguism.translate("chooseOption")}}--</option>
                    <ng-container *ngFor="let b of this.dbnaryService.typeList ">
                      <option id="{{b}}radio" name="buttonType" value="{{b}}">{{b}}</option>
                    </ng-container>
                  </select>
                  <input (click)="displayVariant(this.editionService.classe,wordToSearch.value)" class="variantOk"
                         type="button"
                         value="OK">
                </div>
              </div>
            </div>

            <div class="flexPreview centerText" style="width: calc(100% - 20px)">
              <ng-container *ngIf="this.dbnaryService.searchStarted==0">
                <ng-container *ngFor="let b of this.dbnaryService.wordList">
                  <li class="variantList">
                    <div (click)="b.selected=!b.selected" class="variant"
                         [ngStyle]="{'background-color': b.selected?'#d1d5da': '#eef4f9'}">
                      <div class="variantName floatLeft centerText">
                        {{b.val}}</div>
                      <div
                        [ngStyle]="{'background-image': b.selected?this.getIcon('checkmark'):this.getIcon('uncheckmark')}"
                        class="selector haveBackgroundImage">
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ng-container>
              <ng-container>
                <div *ngIf="this.dbnaryService.searchStarted==2"
                     [ngStyle]="{'background-image':'url(assets/icons/load.gif'}"
                     class="waitVariant floatLeft haveBackgroundImage"></div>
              </ng-container>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>
</div>
