
.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.tabCell {
}

.elementVariant {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1px;
  column-gap: 1px;
  padding-bottom: 20px;
  align-items: center;
}

.label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.elementVariant .input {
  display: inline-block;
}

.elementVariant .variantContainer {
  width: 100%;
}

.variantListBox {
  height: 100%;
  width: calc(100% - 60px);
}

.elementVariant .variantContainer .variantOk {
  display: block;
  width: 40%;
  margin-left: 30%;
}


.wrapperPreview {
  display: grid;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 150px;
  background-color: whitesmoke;
  overflow-y: scroll;
  grid-template-columns: repeat(7, 1fr);
}


.waitVariant {
  margin-left: 5px;
  height: 15px;
  width: 15px;
}


.variantOk {
  width: 40px;
  margin-left: 1px;
}

.inputText {
  width: calc(100% - 60px);
  box-sizing: border-box;
}

.search {
  width: 59px;
  margin-left: 1px;
}

.variantList {
  list-style-type: none;
}

.variantList .variant {
  cursor: pointer;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  border: black solid 1px;
}

.variantName {
  width: calc(100% - 25px);
  margin-top: 5px;
  height: 100%;
}

.variantList .variant .selector {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.variantContainer {
  height: 90%;
}
