
.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.tableSubTitle {
  padding-top: 10px;
  padding-bottom: 15px;
}

.alternativeTableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
}

.alternativeElementVariant {
  width: 100%;
}

.searchField {
  width: calc(100% - 60px);
  box-sizing: border-box;
}

.searchURL {
  width: 40px;
  margin-left: 1px;
}

.searchLib {
  width: 59px;
  margin-left: 1px;
}

.elementVariant {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1px;
  column-gap: 1px;
  padding-bottom: 20px;
  align-items: center;
}

.label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.elementVariant .input {
  display: inline-block;
}

.elementVariant .variantContainer {
  width: 100%;
}

.variantListBox {
  height: 100%;
  width: calc(100% - 60px);
}

.elementVariant .variantContainer .variantOk {
  display: block;
  width: 40%;
  margin-left: 30%;
}


.wrapperPreview {
  display: grid;
  margin-left: 10px;
  width: 100%;
  height: 150px;
  background-color: whitesmoke;
  overflow-y: scroll;
  grid-template-columns: repeat(10, 1fr);
}


.waitVariant {
  margin-left: 5px;
  height: 15px;
  width: 15px;
}


.variantOk {
  width: 40px;
  margin-left: 1px;
}

.inputText {
  width: calc(100% - 60px);
  box-sizing: border-box;
}

.search {
  width: 59px;
  margin-left: 1px;
}

.variantList {
  list-style-type: none;
}

.variantList .variant {
  cursor: pointer;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  border: black solid 1px;
}

.variantName {
  width: calc(100% - 25px);
  margin-top: 5px;
  height: 100%;
}

.variantList .variant .selector {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.variantContainer {
  height: 90%;
}

.pictoImg {
  display: inline-flex;;
  cursor: pointer;
  height: 50px;
  box-sizing: border-box;
  border: black solid 1px;
}

.table{
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20px;
  column-gap: 1px;
  row-gap: 1px;
  align-items: center;
}

.element:hover {
  filter: brightness(80%);
}

.inModification {
  filter: drop-shadow(0 0 20px white) saturate(150%) brightness(120%);
}

.inModification:hover {
  filter: drop-shadow(0 0 20px white) saturate(150%) brightness(95%);
}

.element {
  cursor: pointer;
  visibility: visible;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

.element .image {
  padding-top: 90%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
  visibility: visible;
}

.addButton {
  border-color: black;
  background-color: dimgray;
  opacity:0.5;
}

.addButton:hover {
  opacity: 1;
}
