<div class="header width-100">
  <div class="header-page">

    <div class="header-item">
      <label for="enablePageName">{{this.multilinguism.translate("addPageName")}}</label>
      <input type="checkbox" id="enablePageName" name="enablePageName" (click)="enablePageName()"
        [checked]="buttonEnablePageName">
    </div>

    <div class="header-item">
      <label for="enableVersion">{{this.multilinguism.translate("addVersion")}}</label>
      <input type="checkbox" id="enableVersion" name="enableVersion" (click)="enableVersion()"
        [checked]="buttonEnableVersion">
    </div>

    <div class="header-item">
      <label for="enableHeader">{{this.multilinguism.translate("enableHeader")}}</label>
      <input type="checkbox" id="enableHeader" name="enableHeader" (click)="enableHeader()"
        [checked]="buttonEnableHeader">
    </div>

    <div class="header-item" *ngIf="buttonEnableHeader">
      <label for="btnText">{{this.multilinguism.translate("text")}}</label>
      <input type="radio" id="btnText" name="typeChoice" (click)="choiceType('text')" [checked]="textButton">
      <label class="space" for="btnImg">{{this.multilinguism.translate("image")}}</label>
      <input type="radio" id="btnImg" name="typeChoice" (click)="choiceType('img')" [checked]="imgButton">
    </div>

    <div class="header-item" *ngIf="typeChoice == 'text' && buttonEnableHeader">
      <label id="labelTextArea" for="textArea">{{this.multilinguism.translate("textHeader")}}</label>
      <textarea id="textArea" name="textHeader" rows="4" cols="50" (keyup)="getText($event)">{{this.header}}</textarea>
    </div>

    <div class="header-item" *ngIf="typeChoice == 'img' && buttonEnableHeader">
      <label>{{this.multilinguism.translate("imageHeader")}}</label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" [value]="selectedFile">
    </div>

    <div class="header-item" *ngIf="buttonEnableHeader">
      <label for="positionHeader">{{this.multilinguism.translate("choosePosition")}}</label>
      <select #option id="positionHeader" class="variantListBox" (input)="getPosition(option.value)"
        [(ngModel)]="textPosition">
        <option value="left">{{this.multilinguism.translate("leftPosition")}}</option>
        <option value="center">{{this.multilinguism.translate("middlePosition")}}</option>
        <option value="right">{{this.multilinguism.translate("rightPosition")}}</option>
      </select>
    </div>

  </div>
</div>

<div class="footer width-100">
  <div class="footer-page">

    <div class="footer-item">
      <label for="enableFooter">{{this.multilinguism.translate("enableFooter")}}</label>
      <input type="checkbox" id="enableFooter" name="enableFooter" (click)="enableFooter()"
        [checked]="buttonEnableFooter">
    </div>

    <div class="footer-item" *ngIf="buttonEnableFooter">
      <label for="btnText">{{this.multilinguism.translate("text")}}</label>
      <input type="radio" id="btnText" name="typeChoiceFooter" (click)="choiceTypeFooter('text')" [checked]="textButtonFooter">
      <label class="space" for="btnImg">{{this.multilinguism.translate("image")}}</label>
      <input type="radio" id="btnImg" name="typeChoiceFooter" (click)="choiceTypeFooter('img')" [checked]="imgButtonFooter">
    </div>

    <div class="footer-item" *ngIf="typeChoiceFooter == 'text' && buttonEnableFooter">
      <label id="labelTextArea" for="textArea">{{this.multilinguism.translate("textFooter")}}</label>
      <textarea id="textArea" name="textFooter" rows="4" cols="50" (keyup)="getTextFooter($event)">{{this.footer}}</textarea>
    </div>

    <div class="footer-item" *ngIf="typeChoiceFooter == 'img' && buttonEnableFooter">
      <label>{{this.multilinguism.translate("imageFooter")}}</label>
      <input type="file" accept="image/*" (change)="onFileSelectedFooter($event)" [value]="selectedFileFooter">
    </div>

    <div class="footer-item" *ngIf="buttonEnableFooter">
      <label for="positionFooter">{{this.multilinguism.translate("choosePosition")}}</label>
      <select #option id="positionFooter" class="variantListBox" (input)="getPositionFooter(option.value)"
        [(ngModel)]="textPositionFooter">
        <option value="left">{{this.multilinguism.translate("leftPosition")}}</option>
        <option value="center">{{this.multilinguism.translate("middlePosition")}}</option>
        <option value="right">{{this.multilinguism.translate("rightPosition")}}</option>
      </select>
    </div>

  </div>
</div>
