<div class="palettes">
  <div class=palettesContainer>
    <ng-container *ngFor="let palette of this.paletteService.palettes">
      <div class="palette-item">
        <div class="paletteLabel">
          {{palette.name}}
        </div>
        <div class="palette"
             [ngStyle]="{'grid-template-rows': 'repeat(' + this.paletteService.rowNumber(palette.colors.length) + ',30px)'}">
          <div class="color" [class.realcolor]="color!==null" *ngFor="let color of palette.colors"
               [ngStyle]="{'background-color': color}">

          </div>
        </div>
        <div class="supprPalette"  (click)="this.paletteCodamne = palette"
             [ngStyle]="{'height': 30*this.paletteService.rowNumber(palette.colors.length) + 'px'}">
          <div class="icon" [style.background-image]="this.getIcon('delete')"
               [ngStyle]="{'margin-top': (30*this.paletteService.rowNumber(palette.colors.length)-20)/2 + 'px'}"
              >

          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="addPalette"
       [ngStyle]="{'height': 30*this.paletteService.rowNumber(this.paletteService.newTempPalette.colors.length+3) + 'px'}">
    <div *ngIf="!this.paletteService.newpalette" class="addButtonPaletteContainer" (click)="this.clickOnAdd()">
      <div class="addButtonPalette">
        new palette
      </div>
    </div>

    <div class="palette-item" *ngIf="this.paletteService.newpalette">
      <div class="paletteAddLabel">
        {{this.paletteService.getNextPaletteName()}}
      </div>
      <div class="ok" (click)="this.saveNewPalette();">
        Enregistrer
      </div>
      <div class="palette"
           [ngStyle]="{'grid-template-rows': 'repeat(' + this.paletteService.rowNumber(this.paletteService.newTempPalette.colors.length+1) + ',30px)'}">
        <ng-container *ngFor="let color of this.paletteService.newTempPalette.colors">
          <div class="color">
            <div class="colorbox" [ngStyle]="{'background-color': color.color}">
              <div class="deleteColor" (click)="this.paletteService.delete(color)"
                   [style.background-image]="this.getIcon('clear')">
              </div>
            </div>
            <input [(ngModel)]="color.color" class="colorPicker" type="color">
          </div>
        </ng-container>
        <div class="moreColor" (click)="this.paletteService.addColor()">
          <div class="icon" [style.background-image]="this.getIcon('add')">

          </div>
        </div>
      </div>
      <div class="supprPalette"  (click)="paletteService.close()"
           [ngStyle]="{'height': 30*this.paletteService.rowNumber(this.paletteService.newTempPalette.colors.length+1) + 'px'}">
        <div class="icon" [style.background-image]="this.getIcon('delete')"
             [ngStyle]="{'margin-top': (30*this.paletteService.rowNumber(this.paletteService.newTempPalette.colors.length+1)-20)/2 + 'px'}"
            >

        </div>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="this.paletteCodamne != null">
    <div class="popupcontainer">
      <div class="question">
        Vous êtes sur le point de supprimer une palette, voulez vous continuer ?
      </div>

      <div class="buttons">

        <div class="choiceButton no" (click)="this.paletteCodamne = null">
          non, annuler
        </div>

        <div class="choiceButton yes" (click)="this.deletePalette()">
          oui, supprimer
        </div>
      </div>

    </div>
  </div>


</div>
