
.palette-item {
  display: inline-block;
  margin: 10px;
  width: calc(100% - 20px);
}

.addPalette {
  margin-top: 10px;
}

.addPalette .palette {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.addPalette .palette .color {
  position: relative;
  margin: auto;
  height: 95%;
  width: 95%;
}

.addPalette .palette .deleteColor {
  position: absolute;
  margin-left: calc(100% - 8px);
  margin-top: -2px;
  height: 10px;
  width: 10px;
  background-color: var(--main-bg-color1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  z-index: 99999999;
}

.addPalette .palette .deleteColor:hover {
  background-color: indianred;
}

.addPalette .palette .moreColor {
  height: 100%;
  width: 95%;
  box-sizing: border-box;
  margin: auto;
  background-color: var(--main-bg-color1);
  color: var(--main-bg-color4);
  font-weight: 600;
  border-radius: 3px;
}

.addPalette .palette .moreColor:hover {
  background-color: var(--main-bg-color2);

}

.addPalette .palette .moreColor .icon {
  margin-top: 5px;
  height: 20px;
}

.addPalette .ok {
  float: right;
  width: 100px;
  height: 20px;
  background-color: seagreen;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-right-radius: 3px;
}

.addPalette .ok:hover {
  background-color: forestgreen;
}


.addPalette .palette .color .colorPicker {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: border-box;
}

.addPalette .palette .color .colorbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.addPalette .palette .color:hover .colorbox {
  border-color: var(--main-bg-color1);
}

.addButtonPaletteContainer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: var(--main-bg-color1);
  border-radius: 3px;
  height: 30px;
}

.addButtonPaletteContainer:hover {
  background-color: var(--main-bg-color2);
}

.addPalette .addButtonPalette {
  margin-right: auto;
  margin-left: auto;
  transform: translateY(25%);
  height: 25px;
  color: var(--main-bg-color4);
  font-weight: 600;
}

.paletteAddLabel {
  height: 20px;
  width: calc(100% - 105px);
  background-color: var(--main-bg-color1);
  color: var(--main-bg-color4);
  font-size: 18px;
  font-weight: 600;;
  border-radius: 3px 0 0 0;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.paletteLabel {
  height: 20px;
  background-color: var(--main-bg-color1);
  margin-bottom: 2px;
  line-height: 20px;
  color: var(--main-bg-color4);
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px 3px 0 0;
  width: calc(100% - 50px);
}

.palette {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.supprPalette {
  width: 50px;
  height: 20px;
  background-color: indianred;
  cursor: pointer;
}

.supprPalette:hover {
  background-color: darkred;
}

.supprPalette .icon {
  height: 15px;
  margin: 2.5px;
}

.palette .color {
  height: 95%;
  width: 95%;
  margin: auto;
}

.palette .realcolor {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.palette .realcolor:hover {
  height: 100%;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--main-bg-color1);
}


.popup {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  border: 5px solid tan;
  background-color: wheat;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
}

.popup .popupQuestion {
  width: calc(100% - 50px);
  display: inline-grid;
  align-items: center;
  margin-left: 25px;
  align-content: center;
  text-align: center;
}

.popup .popupButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup .popupButtons .popupChoiceButton {
  width: 40%;
  margin-left: 30%;
  height: 60px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 2fr;
  cursor: pointer;
}

.yes {
  background-color: darkseagreen;
}

.yes:hover {
  background-color: darkgreen;
}

.no {
  background-color: indianred;
}

.no:hover {
  background-color: darkred;
}

.mainPopUp {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
