<div class="wrapper boxes"  
  [ngStyle]="{'grid-template-columns': 'repeat(5, 1fr)'}">
  <ng-container *ngFor="let box of boxes ">
    <li *ngIf="box.extCboardLabelKey === this.folder">
      <div 
        *ngIf="box.loadBoard.path === ''"
          class="button actionButton"
          (click)="onSelect(box)"
          id="{{box.id}}"
          [ngStyle]="{'background-color': box.backgroundColor}" >
          <div class="icon" 
         [ngStyle]="{'background-image': this.getImgUrl(box)}"  
          ></div>
          <div class= "label"
          >{{box.label}}</div>
    </div> 
      <div 
      *ngIf="box.loadBoard.path !== ''"
      class="button folder"
      (click)="onSelectFolder(box)"
      id="{{box.id}}" 
      [ngStyle]="{'background-color': box.backgroundColor}">
      <div class="icon"
      [ngStyle]="{'background-image':this.getImgUrl(box)}" 
      ></div>
      <div class= "label">{{box.label}}</div>
    </div> 
   </li>
 </ng-container>
    <ng-template [ngIf]="this.folder !== 'root' ">
      <button class="button back"
      (click)="onSelectBack()">back</button> 
    </ng-template>
</div>

