<ng-container *ngIf="this.isImageSelectionDisplayed()">

  <div class="element">
    <label class="label" for="imagefromfile">A partir d'un fichier</label>
    <input #file (change)="previewFile(file.files)" accept='image/*' class="input" type="file" id="imagefromfile">
  </div>
  <div class="ou">-----OU-----</div>

  <div class="element">
    <label class="label" for="imagefromURL">A partir d'une URL</label>
    <div class="inputURL">
      <input class="inputURLText" type="text" id="imagefromURL" #text placeholder="Entrez l'URL de l'image">
      <input class="searchURL" type="button" value="Ok" (click)="previewWithURL(text.value)">
    </div>
  </div>
  <div class="ou">-----OU-----</div>
</ng-container>

<div class="element height90" *ngIf="this.isImageSelectionDisplayed()">
  <label class="label" for="imagefromLib">A partir des librairies</label>
  <div class="input">
    <input #search class="inputLib" type="text" id="imagefromLib"
           placeholder="Entrez le mot à chercher (en anglais)">
    <input class="searchLib" type="button" value="search" (click)="searchInLib(search.value)">
  </div>

  <div class="wrapperPreview ">
    <ng-container *ngFor="let b of this.imageList ">
      <li class="pictoList">
        <div class="pictoImg imageContainer"
             [ngStyle]="{'background-image':'url(assets/libs/mulberry-symbols/EN-symbols/'+b+'.svg)'}"
             (click)="previewMullberry(b)"></div>
      </li>
    </ng-container>
  </div>

</div>
