.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.element {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20px;
  column-gap: 1px;
  row-gap: 1px;
  align-items: center;
}


.element .label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.element .input {
  display: inline-block;
}


.colorPickerContainer {
  height: 20px;
  width: 100px;
  background-color: var(--main-bg-color4);
  border-radius: 5px;
  margin-right: 10px;
}

.colorPickerContainerDown {
  height: 20px;
  width: 100px;
  background-color: var(--main-bg-color4);
  border-radius: 5px;
  margin-right: 10px;
}

.colorPicker {
  cursor: pointer;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: white;
}

.searchLib {
  width: 59px;
  margin-left: 1px;
}

.inputURL {
  display: inline-block;
}

.searchField {
  width: calc(100% - 60px);
  box-sizing: border-box;
}

.searchURL {
  width: 40px;
  margin-left: 1px;
}

.wrapperPreview {
  list-style-type: none;
  width: calc(100% - 10px);
  ;
  height: 300px;
  background-color: whitesmoke;
  overflow-y: scroll;
}

.pictoImg {
  display: inline-flex;
  ;
  cursor: pointer;
  width: 10%;
  padding-top: 10%;
  box-sizing: border-box;
  border: black solid 1px;
}