<div class="height-width-100">

  <div class="movingSelector" [ngStyle]="{'left' : this.getMovingSelectorIndex() }"></div>

  <div style="position: relative;top: 0;left: 0;margin-top: -50px; background-color: transparent">
    <div class="menuelt" *ngFor="let menu of newMenu" (click)="selectNewMenu(menu)">
      <div class="menueltlabel">
        {{this.multilinguismService.translate(menu[0])}}
      </div>
    </div>
  </div>

  <div class="mainTest">

    <div class="mainTestTable">

      <ng-container *ngFor="let menu of newMenu">

        <div class="" *ngIf="isSelectedMenu(menu)">
          <hr class="hrs">
          <ng-container *ngFor="let menu2 of menu[1]">
            <div class="title" [class.titleSelected]="selectedSection===menu2"
                 (click)="selectedSection=menu2">
              {{this.multilinguismService.translate(menu2)}}
            </div>
            <hr class="hrs">
          </ng-container>
        </div>

      </ng-container>
    </div>

    <div class="menuContext">
      <div class="menuContextTitle">
        <div class="menuContextTitleText">
          {{this.multilinguismService.translate(this.selectedSection)}}
        </div>
      </div>
      <hr class="hrs">
      <div style="width: 100%; height: 100%">
        <ng-container *ngIf="isSelectedSection('paletteManagement')">
          <app-palettes></app-palettes>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('share')">
          <app-share></app-share>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('interactions')">
          <app-settings></app-settings>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('language')">
          <app-language></app-language>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('ApplicationTheme')">
          <app-application-theme></app-application-theme>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('IconsManagement')">
          <app-icons-management></app-icons-management>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('PageTitle')">
          <app-page-title-management></app-page-title-management>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('DeletePage')">
          <app-delete-page></app-delete-page>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('GridFormat')">
          <app-grid-format-management></app-grid-format-management>
        </ng-container>

        <ng-container *ngIf="isSelectedSection('PictogramStyle')">
          <app-pictogram-style></app-pictogram-style>
        </ng-container>

      </div>
    </div>

  </div>
</div>
