<app-back-home-bar></app-back-home-bar>
<div class="edition width-100">

  <div class="selectLibrairy">
    <input checked id="radioAraasac" name="typeFormat" type="radio" (click)="getLibrairy('arasaacNB')">
    <label class="radio" for="radioAraasac">Arasaac</label>

    <input id="radioAraasacColored" name="typeFormat" type="radio" (click)="getLibrairy('arasaacColor')">
    <label class="radio" for="radioAraasacColored">Araasac Colored</label>
  </div>

  <div class="optionsGenerateGrid">
    <label class="label" for="namefield">Name grid generated : </label>
    <input id="namefield" (keyup)="getNameGrid($event)" class="input width-100" [placeholder]="" type="text">
  </div>

  <div class="optionsGenerateGrid">
    <label class="label" for="colsfield">Number of columns fo the grid : </label>
    <input id="colsfield" (keyup)="getColsGrid($event)" class="input width-100" [placeholder]="" type="number" min="1">
  </div>

  <div class="optionsGenerateGrid">
    <label class="label" for="rowsfield">Number of rows for the grid : </label>
    <input id="rowsfield" (keyup)="getRowsGrid($event)" class="input width-100" [placeholder]="" type="number" min="1">
  </div>

  <div class="optionsGenerateGrid">
    <label class="label" for="sentencefield">The sentence : </label>
    <input id="sentencefield" (keyup)="getSentence($event)" class="input width-100" [placeholder]="" type="text">
  </div>

  <button (click)="submit()">Générer</button>

</div>
{{this.configuration.VERSION}}
