.edition {
  height: calc(100vh - 50px - 30px);
  opacity: 1;
  background-color: white;
}

.selectLibrairy input{
  margin-right: 10px;
}

.selectLibrairy label{
  margin-right: 10px;
}

.optionsGenerateGrid input{
  width: auto;
}

.optionsGenerateGrid label{
  margin-right: 10px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin : 0;
}

input[type = number]{
  -moz-appearance: textfield;
}

.messageError{
  color: red;
  margin-left: calc(40% - 10px);
}
