<div [class.selected]="this.userBarServiceService.addEditOptionEnabled"
     class="panel">

  <div class="leftPane">
    <div class="buttonPane">
      <input [(ngModel)]="color" class="colorPicker" id="colorID"
             type="color"
      >
      <div [ngStyle]="{'background-color': this.color }" class="buttonPreview">
        <div [style.background-image]="this._sanitizer.bypassSecurityTrustStyle('url(' +this.imgURL+')')"
             class="iconPreview">
        </div>
        <div class="label">{{this.name}}
        </div>
      </div>
    </div>
    Babble status: visible
    <input type="checkbox">
  </div>

  <div class="rightPane">

    <div (click)="this.userBarServiceService.addEditOptionEnabled=false"
         class="close">
      X
    </div>

    <ng-container *ngIf="!userBarServiceService.addImageenabled">


      <input (click)="userBarServiceService.addImageenabled=true" class="addImageButton" type="button"
             value="Add an image ...">

      <input [(ngModel)]="name" class="nameField"id="nameID" type="text" value="Enter the name" (change)="getWordList()">

      <form>
        <input checked class="radio" id="radioButton"  [(ngModel)]="radioButtonValue"name="buttonFormat" type="radio" value="radiobutton">
        <label for="radioButton">Button</label>
        <input class="radio" id="radioFolder" [(ngModel)]="radioButtonValue" name="buttonFormat" type="radio" value="radiofolder">
        <label for="radioFolder">Folder</label>
      </form>

      <ng-container *ngIf="radioButtonValue === 'radiobutton'">
        <ng-container *ngFor="let b of this.typeList ">
              <input class="radio" id="{{b}}radio"  [(ngModel)]="radioButtonType" name="buttonType" type="radio" value="{{b}}" (click)="displayVariant(b)" >
              <label for="{{b}}radio">{{b}}</label>
        </ng-container>
        <input checked *ngIf="this.typeList.length===0" class="radio" id="radioNone"  [(ngModel)]="radioButtonType" name="buttonType" type="radio" value="none">
        <label *ngIf="this.typeList.length===0" for="radioNone">None</label>
        <input  class="radio" id="radioOther"  [(ngModel)]="radioButtonType" name="buttonType" type="radio" value="other">
        <label  for="radioOther">Other:</label>
        <input type="text" (click)="radioButtonType='other'">
      </ng-container>

      <div *ngIf="radioButtonValue === 'radiobutton'" class="wrapperPreview" >
        <div *ngFor="let b of this.wordList ">
          <div [ngStyle]="{'color': b.selected?'black':'lightgrey'}" (click)="changeVariantColor(b)">
          {{b.val}}
          </div>
        </div>
      </div>

      <!--<input *ngIf="true" class="combo" list=actions type=text value="Select label type...">
      <datalist id=actions>
        <option> verb
        <option> noun
        <option> adjective
      </datalist>-->

      <ng-container>

        <input (click)="this.createNewButton()" [disabled]="imgURL===undefined"
               type="submit">
        <div *ngIf="imgURL===undefined" [ngStyle]="{'color':'indianred'}"> You shoud add an image before submit </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="userBarServiceService.addImageenabled">
      <div >
        <div >Use a web URL</div>
        <input #text (change)="previewWithURL(text.value)" type="text"/>
      </div>
      <div> OR</div>
      <div >

        <div >Import an image from your computer:</div>
        <input #file (change)="preview(file.files)" accept='image/*' type="file"/>
      </div>
      <div> OR</div>

      <div >Import an image from a library:</div>

      <input #search id="regex" type="text" (change)="uploadDocument(search.value)"/>
      <div class="wrapperPreview "
           id="wrapperPreview">
        <ng-container *ngFor="let b of this.imageList ">
          <li class="pictoList">
            <div class="pictoOfLib" (click)="previewLib(b)">
            <div class="pictoImg" [ngStyle]="{'background-image':'url(assets/picto/mulberry-symbols/EN-symbols/'+b+'.svg)'}"></div>
            <div class="pictoLabel">{{b}}</div>
              </div>
          </li>
        </ng-container>
      </div>

<div  >
      <input (click)="this.userBarServiceService.addImageenabled=!this.userBarServiceService.addImageenabled"
             type="submit">
</div>
    </ng-container>

  </div>
</div>
