.panel {
  position: absolute;
  width: calc(100% - 15px);
  bottom: 5%;
  height: calc(95% - 140px);
  left: -100%;
  overflow: hidden;
  transition: left 0.5s;
  background-color: #666666;
  margin-top: 100px;
  opacity: 1;
}

.buttonPreview {
  background-color: black;
  color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
  width: 80%;
  height: 0px;
  padding-bottom: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  white-space: nowrap;
  font-size: 3vw;
  overflow: hidden;
}

.panel.selected {
  opacity: 1;
  left: 7.5px;
}

.close {
  float: left;
  margin-left: calc(100% - 40px);
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: red;
}

.leftPane {
  float: left;
  position: relative;
  margin: 10px 10px 10px 10px;
  width: calc(30% - 20px);
  height: calc(100% - 20px);
  background-color: darkgrey;
}

.rightPane {
  float: left;
  position: relative;
  margin: 10px 10px 10px 0px;
  width: calc(70% - 10px);
  height: calc(100% - 20px);
  background-color: slategray;
}

.buttonPane {
  width: 90%;
  margin-left: 4.5%;
  margin-top: 5%;
  background-color: white;
  padding-bottom: 2%;
  padding-top: 2%;

}

.addImageButton {
  width: 90%;
}

.colorPicker {
  cursor: pointer;
  float: right;
  background-color: dimgray;
  border: none;
  outline: none;
  width: 3vw;
  height: 3vw;
  margin-bottom: -3vw;
}

.colorPicker:hover {
  background-color: lightgray;
}


.buttonPreview .iconPreview {
  margin-left: 15%;
  margin-top: 3vw;
  width: 70%;
  height: 0px;
  padding-bottom: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.labelPreview {
  outline: none;
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2vw;
  text-alignment: center;
}

.pile {
  text-align: center;
  display: block;
}

.pile {
  text-align: center;
  display: block;
}


.wrapperPreview {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10%;
  display: grid;
  width: 80%;
  height: 70%;
  background-color: whitesmoke;
}
