<div [class.selected]="this.userBarServiceService.addEditOptionEnabled"
     class="panel">

  <div class="leftPane">
    <div class="buttonPane">
      <input [(ngModel)]="color" class="colorPicker" id="colorID"
             type="color"
      >
      <div [ngStyle]="{'background-color': this.color }" class="buttonPreview">
        <div [style.background-image]="this._sanitizer.bypassSecurityTrustStyle('url(' +this.imgURL+')')"
             class="iconPreview">
        </div>
        <div class="label">{{this.name}}
        </div>
      </div>
    </div>
    <input [(ngModel)]="name" class="pile" id="nameID" type="text" value="Enter the name">
    <input class="pile" id="idID" type="text" value="Enter the id">
    Babble status: visible
    <input type="checkbox">
  </div>

  <div class="rightPane">

    <div (click)="this.userBarServiceService.addEditOptionEnabled=false"
         class="close">
      X
    </div>

    <ng-container *ngIf="!userBarServiceService.addImageenabled">
      <input (click)="userBarServiceService.addImageenabled=true" class="addImageButton" type="button"
             value="Add an image ...">
      <img *ngIf="imgSafeURL" [src]="imgSafeURL" class="pile" height="200">
      <input class="combo pile" list=actions type=text value="Select label type...">
      <datalist id=actions>
        <option> verb
        <option> noun
        <option> adjective
      </datalist>
      <div class="pile">
        <input checked class="radio" id="radioButton" name="buttonFormat" type="radio" value="radiobutton">
        <label for="radioButton">Button</label>
        <input class="radio" id="radioFolder" name="buttonFormat" type="radio" value="radiofolder">
        <label for="radioFolder">Folder</label>
      </div>

      <input (click)="this.createNewButton()"
             type="submit">
    </ng-container>

    <ng-container *ngIf="userBarServiceService.addImageenabled">
      <div class="pile">

        <div class="pile">Use a web URL</div>
        <input #text (change)="previewWithURL(text.value)" type="text"/>
      </div>
      <div> OR</div>
      <div class="pile">

        <div class="pile">Import an image from your computer:</div>
        <input #file (change)="preview(file.files)" accept='image/*' type="file"/>
      </div>
      <div> OR</div>

      <div class="pile">Import an image from a library:</div>
      <input #search id="regex" type="text" (change)="uploadDocument(search.value)"/>
      <div class="wrapperPreview"
           id="wrapperPreview">
        <ng-container *ngFor="let b of this.imageList ">
          <li class="pictoList">
            <div class="pictoOfLib" (click)="previewLib(b)">
            <div class="pictoImg" [ngStyle]="{'background-image':'url(assets/picto/mulberry-symbols/EN-symbols/'+b+'.svg)'}"></div>
            <div class="pictoLabel">{{b}}</div>
              </div>
          </li>
        </ng-container>
      </div>
      <img *ngIf="imgSafeURL" [src]="imgSafeURL" height="200">

      <img *ngIf="imgSafeMulberry" [src]="imgSafeMulberry" height="200">

      <input (click)="this.userBarServiceService.addImageenabled=!this.userBarServiceService.addImageenabled"
             type="submit">
    </ng-container>

  </div>
</div>
