<div class="width-100">
  <div class="visualisationMargin">
    <label>{{this.multilinguism.translate("visualisationPath")}}:</label>

    <input checked id="radioPath" name="typeFormat" type="radio" (click)="getView('Path')">
    <label class="radio" for="radioPath">{{this.multilinguism.translate("path")}}</label>

    <input id="radioTitlePage" name="typeFormat" type="radio" (click)="getView('TitlePage')">
    <label class="radio" for="radioTitlePage">{{this.multilinguism.translate("titlePage")}}</label>
  </div>
</div>
