<div class="import width-100">
  <div class="importPanel">

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("importSave") + ":"}}
      </label>
      <input #file (change)="exploreAugcomZip(file.files)" accept=".augcom" onclick="this.value=null" type="file">
    </div>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("importPages") + ":"}}
      </label>
      <input #files (change)="importPages(files.files)" accept=".augcom" onclick="this.value=null" type="file">
    </div>

    <br>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("import save from snap core first") + ":"}}
      </label>
      <app-spb2aug></app-spb2aug>
      <p> upgrade </p>
      <app-spb2aug-upgrade></app-spb2aug-upgrade>
    </div>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("import save from life companion") + ":"}}
      </label>
      <app-life-companion2aug></app-life-companion2aug>
    </div>

    <br>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("importUser") + ":"}}
      </label>
      <app-import-user></app-import-user>
    </div>

    <!--          <div>-->
    <!--            <label class="floatLeft">-->
    <!--              {{this.multilinguism.translate("importZip") + ":"}}-->
    <!--            </label>-->
    <!--            <input #zip type="file" (change)="exploreZip(zip.files)">-->
    <!--          </div>-->
  </div>
</div>
