.import {
  opacity: 1;
}

.import .importPanel {
  margin-top: 20px;
}

.import .importPanel .listElement {
  margin: 20px;
  width: fit-content;
}

.import .importPanel .listElement .image {
  height: 80%;
  width: 15%;
  transform: translateY(10%);
}

label {
  margin-right: 10px;
}