.mainColorPicker{
  width: 20px;
  height: 20px;
}

.colorPicker{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: border-box;
}

.newColor {
  position: relative;
  margin: auto;
  width: 20px;
  height: 20px;
}


