<!-- popup used for various question -->
<div class="popup" *ngIf="this.userToolBarService.popup">

  <!-- container for the popup display -->
  <div class="popupContainer">

    <!-- display the popup question -->
    <div class="popupQuestion">
      {{this.questionBegin + this.getSentencedToDeleteElementStringValue() + this.questionEnd}}
    </div>

    <!-- popupButtons to answer the popup question -->
    <div class="popupButtons">

      <!-- answer 'no' to the popup question -->
      <div class="popupChoiceButton no" (click)="this.no()">
        non, annuler
      </div>

      <!-- answer 'yes' to the popup quesion -->
      <div class="popupChoiceButton yes" (click)="this.yes()">
        oui, supprimer
      </div>

    </div>

  </div>

</div>
