<!-- popup used for various question -->
<div class="mainPopUp">
<div class="popup" *ngIf="this.userToolBarService.popup">

    <div class="popupQuestion" style="font-size: larger;">
      <div> {{this.multilinguism.translate("questionBegin") +
      this.getSentencedToDeleteElementStringValue() +
      this.multilinguism.translate("questionEnd")}}</div>
      <div>{{this.multilinguism.translate("continue")}}</div>
    </div>

    <div class="popupButtons">
      <div (click)="this.no()" class="popupChoiceButton floatLeft no">
        <div style="font-size: larger;">{{this.multilinguism.translate("No")}}</div>
        <div>{{this.multilinguism.translate("Cancel")}}</div>
      </div>

      <div (click)="this.yes()" class="popupChoiceButton floatLeft yes">
        <div style="font-size: larger;">{{this.multilinguism.translate("Yes")}}</div>
        <div>{{this.multilinguism.translate("Delete")}}</div>
      </div>
    </div>

</div>
</div>
