
.popup {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  border: 5px solid tan;
  background-color: wheat;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
  visibility: visible;
  z-index: 99999;
}

.popup .popupQuestion {
  width: calc(100% - 50px);
  display: inline-grid;
  align-items: center;
  margin-left: 25px;
  align-content: center;
  text-align: center;
}

.popup .popupButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup .popupButtons .popupChoiceButton {
  width: 40%;
  margin-left: 30%;
  height: 60px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 2fr;
  cursor: pointer;
}

.yes {
  background-color: darkseagreen;
}

.yes:hover {
  background-color: darkgreen;
}

.no {
  background-color: indianred;
}

.no:hover {
  background-color: darkred;
}

.mainPopUp {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
