<!-- popup used for various question -->
<div class="popup" *ngIf="this.userToolBarService.popup">

  <!-- container for the popup display -->
  <div class="popupContainer">

    <!-- display the popup question -->
    <div class="popupQuestion centerText">
      {{this.multilinguism.translate("questionBegin") + this.getSentencedToDeleteElementStringValue() + this.multilinguism.translate("questionEnd")}}
    </div>

    <!-- popupButtons to answer the popup question -->
    <div class="popupButtons">

      <!-- answer 'no' to the popup question -->
      <div class="popupChoiceButton floatLeft centerText no" (click)="this.no()">
        {{this.multilinguism.translate("noCancel")}}
      </div>

      <!-- answer 'yes' to the popup quesion -->
      <div class="popupChoiceButton floatLeft centerText yes" (click)="this.yes()">
        {{this.multilinguism.translate("yesDelete")}}
      </div>

    </div>

  </div>

</div>
