.usertoolbar{
  height: 1.5cm;
  min-height: 1cm;
  max-height: 14vw;
  min-width: 7cm;
  width: 100%;
  background-color: grey;
}

.usertoolbar .button{
  cursor: pointer;
  float: right;
  height: 1.5cm;
  width: 1.5cm;
  max-height: 14vw;
  max-width: 14vw;
  min-width: 1cm;
  min-height: 1cm;
  visibility: hidden;
}

.usertoolbar .button .image:hover{
  background-color: darkgrey;
}

.usertoolbar .button .image{
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: lightgrey;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}


.usertoolbar .button .imageSelected:hover{
  background-color: seagreen;
}

.usertoolbar .button .imageSelected{
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: darkseagreen;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.usertoolbar .button .noConnection{
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: indianred;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  opacity: 0.5;
}

.usertoolbar .button .noConnection:hover{
  cursor: not-allowed;
  background-color: indianred;
}
