<div class="usertoolbar width-100">
  <!--     [ngStyle]="{'bottom': this.userToolBarService.edit ? '50%' :'0'}">-->

  <div class="titleContainer floatLeft"
       [class.width0]="this.userToolBarService.search">
    <ng-container *ngIf="!this.userToolBarService.search">
      <div class="titleandimage"
           [ngStyle]="{'grid-template-columns': this.userToolBarService.titleDisplayValue === 'default' ? '50px 1fr' : '100%'}">
        <div *ngIf="this.userToolBarService.titleDisplayValue!=='textOnly'" class="haveBackgroundImage"
             style="height: 90%; width:90%" [style.background-image]="this.getCurrentPageImage()">

        </div>
        <div *ngIf="this.userToolBarService.titleDisplayValue!=='imageOnly'">
          {{this.boardService.getCurrentTitle()}}
        </div>
      </div>
    </ng-container>
  </div>


  <div class="button floatRight" id="lockUnlockButton" (click)="this.setLock()">
    <div class="image width-100" [class.imageSelected]="this.userToolBarService.unlock"
         [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.unlock?'unlock':'lock')}">
    </div>
  </div>

  <nav *ngIf="this.userToolBarService.unlock">
    <a routerLink="/account">
      <div class="button floatRight" id="accountButton">
        <div class="image width-100" [ngStyle]="{'background-image':this.getIcon('settings')}">
        </div>
      </div>
    </a>
  </nav>

  <div class="button floatRight" id="editButton" *ngIf="this.userToolBarService.unlock" (click)="this.edit()">
    <div class="image width-100" [class.noConnection]="!this.userToolBarService.isConnected"
         [class.imageSelected]="this.userToolBarService.edit" [ngStyle]="{'background-image':this.getIcon('edit')}">
    </div>
  </div>

  <div class="button floatRight" id="babbleButton" *ngIf="this.userToolBarService.unlock"
       (click)="this.userToolBarService.babble = !this.userToolBarService.babble">
    <div class="image width-100"
         [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.babble?'hide':'show')}">
    </div>
  </div>

  <div class="button floatRight" id="fullScreenButton" *ngIf="this.userToolBarService.unlock"
       (click)="this.userToolBarService.fullScreen()">
    <div class="image width-100"
         [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.full?'exitfullscreen':'fullscreen')}">
    </div>
  </div>

  <div class="button floatRight" id="language" *ngIf="this.userToolBarService.unlock"
       (click)="translate()">
    <div class="image width-100"
         [ngStyle]="{'background-image':this.getIcon(this.configurationService.LANGUAGE_VALUE==='FR'? 'france':'uk')}">
    </div>
  </div>


  <div class="button floatLeft" id="backButton"
       (click)="this.boardService.backToPreviousFolder()"
       (pointerenter)="enter($event)"
       (pointerleave)="exit()"
       [ngStyle]="{'opacity': (this.boardService.getCurrentFolder() !== '#HOME' && this.boardService.activatedElement==-1) ? '1' : '0.5'}">
    <div class="image width-100"
         [ngStyle]="{'background-image':this.getIcon('retour')}">
    </div>
  </div>

  <div class="buttonLeftLeft floatLeft" [class.buttonLeftLeftBig]="this.userToolBarService.search"
       *ngIf="this.userToolBarService.unlock">
    <div class="image width-100"
         [ngStyle]="{'background-image': this.userToolBarService.search? '' : this.getIcon('search') }">
      <input #searchedText type="text" [(ngModel)]="this.searchText"
             (input)="this.searchService.searchFor(searchedText.value)" class="searchBar"
             *ngIf="this.userToolBarService.search">
      <div class="searchResultContainer"
           [ngStyle]="{'height': this.getResultsHeight(this.searchService.searchedWords.length)}">
        <div class="searchResult width-100" (click)="this.searchService.search(res.ID)"
             *ngFor="let res of this.searchService.searchedWords"
             [ngStyle]="{'height': this.getResultHeight(this.searchService.searchedWords.length)}">
          <div class="searchImage haveBackgroundImage floatLeft"
               [style.background-image]="this.boardService.getImgUrl(res)"></div>
          <div class="searchLabel floatLeft"> {{this.boardService.getDefaultLabel(res)}} </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonLeftRight floatLeft" [class.buttonLeftRightBig]="this.userToolBarService.search"
       *ngIf="this.userToolBarService.unlock" (click)="this.openSearch()">
    <div class="image width-100"
         [ngStyle]="{'background-image':this.userToolBarService.search? this.getIcon('search') : this.getIcon('play') }">
    </div>
  </div>

</div>
