.usertoolbar {
  height: 1.5cm;
  min-height: 1cm;
  max-height: 14vw;
  min-width: 7cm;
  background-color: var(--main-bg-color1);
  position: absolute;
  z-index: 2;
  bottom: 0;
  transition: bottom 0.5s;
  bottom: 0;
}

.usertoolbar .button {
  cursor: pointer;
  height: 1.5cm;
  width: 1.5cm;
  max-height: 14vw;
  max-width: 14vw;
  min-width: 1cm;
  min-height: 1cm;
  visibility: hidden;
}

.usertoolbar .buttonLeftLeft {
  cursor: pointer;
  height: 1.5cm;
  width: 1.5cm;
  min-width: 1cm;
  min-height: 1cm;
  transition: width 1s;
}

.usertoolbar .buttonLeftRight {
  cursor: pointer;
  height: 1.5cm;
  width: 0.5cm;
  min-width: 1cm;
  min-height: 1cm;
  transition: width 1s;
}

.usertoolbar .buttonLeftRightBig {
  width: 1.5cm;
  transition: width 1s;
}

.usertoolbar .buttonLeftLeftBig {
  cursor: pointer;
  height: 1.5cm;
  width: calc(100% - 12.5cm);
  min-width: 1cm;
  min-height: 1cm;
  transition: width 1s;
}

.titleandimage{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  grid-gap: 5px;
}

.adjustableText {
  text-align: center;
  width: 100%;
  height: fit-content;
  align-items: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-all;
}

.usertoolbar .button .image:hover, .usertoolbar .buttonLeftLeft .image:hover, .usertoolbar .buttonLeftRight .image:hover {
  background-color: var(--main-bg-color2);
}

.usertoolbar .button .image {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: var(--main-bg-color1);
  border-radius: 10px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.usertoolbar .buttonLeftLeft .image {
  height: 80%;
  margin-left: 0;
  margin-right: 0;
  transform: translateY(10%);
  background-color: var(--main-bg-color1);
  border-radius: 10px 0 0 10px;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.usertoolbar .buttonLeftLeft .image .searchBar {
  width: 98%;
  height: 70%;
  margin-left: 1%;
  transform: translateY(8%);
}

.usertoolbar .buttonLeftLeft .image .emptySearchResultContainer {
  width: 98%;
  height: 0;
  margin-left: 1%;
  background-color: var(--main-bg-color1);
  box-shadow: 0 2px 15px black;
  opacity: 0;
}

.usertoolbar .buttonLeftLeft .image .searchResultContainer {
  width: 98%;
  height: 500%;
  opacity: 1;
  margin-left: 1%;
  background-color: var(--main-bg-color1);
  box-shadow: 0 2px 15px black;
  overflow-y: auto;
}

.usertoolbar .buttonLeftLeft .image .searchResultContainer .searchResult {
  background-color: var(--main-bg-color4);
  opacity: 0.8;
}

.usertoolbar .buttonLeftLeft .image .searchResultContainer .searchResult:hover {
  opacity: 1.3;
}

.usertoolbar .buttonLeftLeft .image .searchResultContainer .searchResult .searchImage {
  height: 100%;
  width: 50%;
}


.usertoolbar .buttonLeftLeft .image .searchResultContainer .searchResult .searchLabel {
}

.usertoolbar .buttonLeftRight .image {
  height: 80%;
  width: 80%;
  margin-left: 0;
  margin-right: 0;
  transform: translateY(10%);
  background-color: var(--main-bg-color1);
  border-radius: 0 10px 10px 0;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}


.usertoolbar .button .imageSelected:hover {
  background-color: seagreen;
}

.usertoolbar .button .imageSelected {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: darkseagreen;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.usertoolbar .button .noConnection {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: indianred;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  opacity: 0.5;
}

.usertoolbar .button .noConnection:hover {
  cursor: not-allowed;
  background-color: indianred;
}

.titleContainer {
  position: absolute;
  height: 100%;
  margin-left: calc(50% - 6cm);
  width: 9cm;
  opacity: 1;
}

.titleSVG {
  height: 1.5cm;
  width: 100%;
  float: left;
}

.width0 {
  width: 0;
  opacity: 0;
  transition: width 5s;
}
