<div class="usertoolbar">

  <div class="button" id="accountButton" (click)="this.userToolBarService.account = !this.userToolBarService.account">
    <div class="image"  [ngStyle]="{'background-image':this.getIcon('account')}">

    </div>
  </div>

  <div class="button" id="lockUnlockButton" (click)="this.setLock()">
    <div class="image" [class.imageSelected]="this.userToolBarService.unlock" [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.unlock?'unlock':'lock')}">

    </div>
  </div>


  <nav>
    <a routerLink="/share">
      <div class="button" id="shareButton" *ngIf="this.userToolBarService.unlock" (click)="this.openShare()">
        <div class="image"  [ngStyle]="{'background-image':this.getIcon('share')}">

        </div>
      </div>
    </a>
  </nav>




  <div class="button" id="editButton" *ngIf="this.userToolBarService.unlock" (click)="this.edit()">
    <div class="image" [class.noConnection]="!this.userToolBarService.isConnected" [class.imageSelected]="this.userToolBarService.edit" [ngStyle]="{'background-image':this.getIcon('edit')}">

    </div>
  </div>

  <div class="button" id="babbleButton" *ngIf="this.userToolBarService.unlock" (click)="this.userToolBarService.babble = !this.userToolBarService.babble">
    <div class="image"  [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.babble?'hide':'show')}">

    </div>
  </div>

  <div class="button" id="fullScreenButton" *ngIf="this.userToolBarService.unlock" (click)="this.userToolBarService.fullScreen()">
    <div class="image"  [ngStyle]="{'background-image':this.getIcon(this.userToolBarService.full?'exitfullscreen':'fullscreen')}">

    </div>
  </div>

  <nav>
    <a routerLink="/settings">
      <div class="button first" id="settingsButton" *ngIf="this.userToolBarService.unlock" (click)="this.openSettings()">
        <div class="image"  [ngStyle]="{'background-image':this.getIcon('settings')}">
        </div>
      </div>
    </a>
  </nav>

  <div class="buttonLeftLeft" [class.buttonLeftLeftBig]="this.userToolBarService.search" *ngIf="this.userToolBarService.unlock" >
    <div class="image"  [ngStyle]="{'background-image': this.userToolBarService.search? '' : this.getIcon('search') }">
      <input #searchedText type="text" [(ngModel)]="this.searchText" (input)="this.searchService.searchFor(searchedText.value)"  class="searchBar" *ngIf="this.userToolBarService.search">
      <div class="searchempty" [class.searchResults]="this.userToolBarService.search" [ngStyle]="{'height': this.getResultsHeight(this.searchService.searchedWords.length)}">
        <div class="searchResult" *ngFor="let res of this.searchService.searchedWords" [ngStyle]="{'height': this.getResultHeight(this.searchService.searchedWords.length)}">
          <div class="searchImage" [style.background-image]="this.boardService.getImgUrl(res)"> </div>
          <div class="searchLabel"> {{res.ElementID}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonLeftRight" [class.buttonLeftRightBig]="this.userToolBarService.search" *ngIf="this.userToolBarService.unlock" (click)="this.openSearch()">
    <div class="image"  [ngStyle]="{'background-image':this.userToolBarService.search? this.getIcon('search') : this.getIcon('play') }">

    </div>
  </div>

</div>
