.usertoolbar{
  height: 5vh;
  min-height: 0.5cm;
  width: 100%;
  background-color: grey;
}

.usertoolbar .button{
  float: right;
  height: 5vh;
  width: 5vh;
  min-width: 0.5cm;
  min-height: 0.5cm;
  visibility: hidden;
}

.usertoolbar .button .image:hover{
  background-color: darkgrey;
}

.usertoolbar .button .image{
  height: 80%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-color: lightgrey;
  border-radius: 25%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}
