<div class="dialogbar">

  <div class="textBar">

    <div class="elementContainer" *ngFor="let element of this.historicService.lastNHistoricElements">

      <div class="element" (click)="this.historicService.say('' + element.ElementForms[0].DisplayedText);" [style.background-color]="element.Color">

        <div class="image"[style.background-image]="this.boardService.getImgUrl(element)" >

        </div>

        <div class="label">
          {{element.ElementForms[0].DisplayedText}}
        </div>

      </div>

    </div>

  </div>

  <div class="button">
    <div class="image" [ngStyle]="{'background-image':this.getIcon('clear')}" (click)="this.historicService.clearHistoric()">

    </div>
  </div>
  <div class="button">
    <div class="image" [ngStyle]="{'background-image':this.getIcon('back')}" (click)="this.historicService.backHistoric()">

    </div>
  </div>
  <div class="button">
    <div class="image" [ngStyle]="{'background-image':this.getIcon('play')}" (click)="this.historicService.playHistoric()">

    </div>
  </div>

</div>
