<!-- the bar containing the sentence entered by the user and the play back and clear buttons -->
<div class="dialogBar">

  <!-- the textBar containing the sentence entered by the user -->
  <!-- *** note: the row-reverse trick is used in order to display last elements of the textBar on the right *** -->
  <div class="textBar floatLeft"
       [ngStyle]=" {'flex-flow': this.historicService.isHistoricLengthMoreThan10() ?'row-reverse nowrap':'nowrap'}">

    <!-- each elementContainer contains an element composed with one pictogram and the corresponding text -->
    <div class="elementContainer"
         *ngFor="let element of this.historicService.getHistoricToDisplay()">

      <!-- the element containing a pictogram and its text -->
      <div class="element" (click)="this.historicService.say('' + element.Label);"
           [ngStyle]="{
              'color':element.BorderColor,
              'background-color':element.Color}">

        <div class="image haveBackgroundImage" [style.background-image]="element.ImagePath">

        </div>

        <svg class="centerText" viewBox="0 0 30 20">
          <text class="centerText" x="50%" y="50%" dominant-baseline="middle"
                text-anchor="middle">{{element.Label}}</text>
        </svg>

      </div>

    </div>

  </div>

  <!-- the button used to play the sound of the sentence entered by the user -->
  <div class="button floatLeft">
    <div class="image haveBackgroundImage" [ngStyle]="{'background-image':this.getIcon('play')}"
         (click)="this.historicService.playHistoric()">

    </div>
  </div>

  <!-- the button used in order to remove the last element entered by the user -->
  <div class="button floatLeft">
    <div class="image haveBackgroundImage" [ngStyle]="{'background-image':this.getIcon('back')}"
         (click)="this.historicService.backHistoric()">

    </div>
  </div>

  <!-- the button used to clear the whole sentence entered by the user -->
  <div class="button floatLeft">
    <div class="image haveBackgroundImage" [ngStyle]="{'background-image':this.getIcon('clear')}" (click)="this.clear()">

    </div>
  </div>

</div>
