<div id="keyboard" >
  <div class="keyboard" [ngStyle]="{'height': 'calc(100vh - 3.5cm)'}" >
    <div class="wrapper" [ngStyle]="{ 'grid-template-columns': 'repeat('+(this.boardService.sliderValueCol)+', '+(100/(this.boardService.sliderValueCol))+'%)',
                                      'grid-template-rows': 'repeat('+(this.boardService.sliderValueRow)+', '+(100/(this.boardService.sliderValueRow))+'%)',
                                      'background-image' : this.boardService.background }"
         >
      <ng-container class="test" *ngFor="let element of this.getTempList()">
        <div  class="elementContainer" *ngIf="element.ElementType!=='empty'" >
          <div class="element" [ngStyle]="{'background-color': this.boardService.elementColor(element)}">
            <div class="image" [style.background-image]="this.boardService.getImgUrl(element)">
            </div>
            <div class="label">
              {{this.getLabel(element)}}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
