.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  z-index: 1;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-dragging .item-content {
  background-image: none;
  cursor: move;
}

.item.muuri-item-dragging {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}
