.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 8em;
  height: 8em;
  margin: 0.5em;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
