<body>
<h1> Page de Connexion </h1>
<button mat-button id="addUser" (click)="clickAddUser()"> <img src="assets/images/AddUser.png" alt=""> Ajouter un utilisateur </button>
<div [hidden]="submitted" *ngIf="this.addUserBool">
  <form (ngSubmit)="onSubmit(newUser)" #newUser="ngForm">
    <label> nom de l'utilisateur </label>
    <input id="nameUser" type="text" class="form-control" placeholder="enter your name" name="name" ngModel required>
    <br>
    <label> votre image</label>
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
    <br>
    <button mat-button type="submit" [disabled]="newUser.invalid">Submit</button>
  </form>
</div>

<ul>
  <li *ngFor="let user of usersList">
    <mat-card class="card">
    <mat-card-header class="card-header-image">
      <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
      <button mat-button [routerLink]="'/keyboard'"><img alt="{{user.name}}" height="270px" width="280" src="{{UserImage(user)}}"></button>
    </mat-card>
    <!--
    <div class="image">
      <button mat-button [routerLink]="'/keyboard'"><img src="{{user.base64image}}" alt="{{user.name}}"></button>
      <button mat-raised-button color="accent" (click)="this.removeUser(user.id)"> <img src='/assets/icons/delete.svg' alt="delete" height="5%" width="5%"></button>
      <div class="label">
        {{user.name}}
      </div>
    </div>
    -->
  </li>
</ul>
</body>
