<h1> Page de Connexion </h1>
<button mat-button [routerLink]="'/keyboard'">Utilisateur par defaut</button>
<br>
<button mat-button id="addUser" (click)="clickAddUser()"> Ajouter un utilisateur </button>
<div [hidden]="submitted" *ngIf="this.addUserBool">
  <form (ngSubmit)="onSubmit(newUser)" #newUser="ngForm">
    <label> nom de l'utilisateur </label>
    <input id="nameUser" type="text" class="form-control" placeholder="enter your name" name="name" ngModel required>
    <br>
    <label> votre image</label>
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
    <br>
    <button mat-button type="submit" [disabled]="newUser.invalid">Submit</button>
  </form>
</div>
<ul>
  <li *ngFor="let user of usersList">
    <button mat-button [routerLink]="'/keyboard'"><img src="{{user.base64image}}" alt="{{user.name}}">{{user.name}}</button>
    <button mat-raised-button color="accent" (click)="this.removeUser(user.name)"> <img src='/assets/icons/delete.svg' alt="delete" height="5%" width="5%"></button>
  </li>
</ul>
