<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.5/dist/semantic.min.css">
<body>
<div class="ui secondary menu">
  <div class="right menu">
    <div class="ui item" (click)="translate()" [ngStyle]="{'background-image':this.getIcon(this.configurationService.LANGUAGE_VALUE==='FR'? 'france':'uk')}">
    </div>
  </div>
</div>
<div class="ui centered grid">
  <div class="fourteen wide column">
    <h1 class="ui centered aligned header">
      <span>
        Page de connexion
      </span>
    </h1>
    <div class="ui cards centered">
      <div class="ui card" (click)="clickAddUser()">
        <div class="image">
          <img src="./assets/images/AddUser.png" alt="">
        </div>
        <div class="content">
          <h2 class="ui centered aligned header">
            Ajouter un utilisateur
          </h2>
        </div>
      </div>
    </div>
    <div class="ui centered aligned" [hidden]="submitted" *ngIf="this.addUserBool">
    <form (ngSubmit)="onSubmit(newUser)" #newUser="ngForm">
      <label>Nom de l'utilisateur : </label>
      <input id="nameUser" type="text" class="form-control" placeholder="entrer votre nom" name="name" ngModel required>
      <br>
      <label>Votre image : </label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)">
      <br>
      <div class="preview">
        <img *ngIf="selectedFile !== null" class="ui centered image" [src]="selectedFile" alt="">
      </div>
      <button mat-button mat-raised-button type="submit" [disabled]="newUser.invalid">Valider</button>
    </form>
    </div>
    <br>
    <hr>
    <div class="ui four column grid">
      <div class="column" *ngFor="let user of usersList; let index = index">
        <div class="ui card">
          <div class="content">
            <h3 class="ui centered aligned header">
              {{user.name}}
            </h3>
          </div>
          <div class="images" (click)="userSelected(user)" [routerLink]="'/keyboard'">
            <img src="{{userImage(user)}}" alt="" >
          </div>
          <button class="deleteButton" *ngIf="user.id != 1" mat-raised-button color="primary" (click)="this.openDialogChange(user.id, index)"> Modifier <img src='/assets/icons/settings.svg' alt="delete" height="5%" width="5%"></button>
          <button class="deleteButton" *ngIf="user.id != 1" mat-raised-button color="warn" (click)="this.openDialogDelete(user.id)"> Supprimer <img src='/assets/icons/delete.svg' alt="delete" height="5%" width="5%"></button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
</body>
