body {
  overflow-y: scroll;
}
.card {
  max-width: 400px;
  max-height: 400px;
}
.cardButton:hover{
  opacity: 0.5;
}
.card-header-image {
  background-size: cover;
}
p.textCard{
  text-align: center
}
button.deleteButton:hover{
  opacity: 0.5;
}
button{
  display: block;
  margin: auto;
}
