<div class="height-width-100">
  <div class="languageSelection">
    <label for="lang">{{this.multilinguism.translate("vocalOutput")}}: </label>
    <select id="lang" [(ngModel)]="this.parametersService.currentVoice" class="variantListBox">
      <option value="@">--{{this.multilinguism.translate("chooseLanguage")}}--</option>
      <ng-container *ngFor="let l of this.parametersService.languagesAvailaibles">
        <option value="{{l.lang + '@' + l.name}}">{{l.name + ' (' + l.lang + ')'}}</option>
      </ng-container>
    </select>
  </div>
</div>
