<div class="height-width-100">
  <div class="languageSelection">
    <label for="lang">Sortie vocale: </label>
    <select id="lang" [(ngModel)]="this.parametersService.currentVoice" class="variantListBox">
      <option value="@">--choisissez une langue--</option>
      <ng-container *ngFor="let language of this.parametersService.languagesAvailaibles">
        <option value="{{language.lang + '@' + language.name}}">{{language.name + ' (' + language.lang + ')'}}</option>
      </ng-container>
    </select>
  </div>
</div>
