<div class="width-100">
  <div class="languageSelection">
    <label for="lang">{{this.multilinguism.translate("vocalOutput")}}: </label>
    <select id="lang" [(ngModel)]="this.configurationService.CURRENT_VOICE_VALUE" class="variantListBox">
      <option value="@">--{{this.multilinguism.translate("chooseLanguage")}}--</option>
      <ng-container *ngFor="let language of this.parametersService.languagesAvailaibles">
        <option value="{{language.lang + '@' + language.name}}">{{language.name + ' (' + language.lang + ')'}}</option>
      </ng-container>
    </select>
  </div>
  <div class="languageSelection">
    <label style="margin-right: 10px;" for="lang2">{{this.multilinguism.translate("applicationLanguage")}}:</label>
    <select id="lang2" [(ngModel)]="this.configurationService.LANGUAGE_VALUE" class="variantListBox">
      <option value="FR">Français</option>
      <option value="EN">English</option>
    </select>
  </div>
  <div class="languageSelection">
    <label>{{this.multilinguism.translate("pitch")}} : {{ this.configurationService.PITCH }}</label>
    <input style="display: block" type="range" min="0.0" max="2.0" step="0.1" name="pitch"
      [(ngModel)]="this.configurationService.PITCH" />
    <br>
    <label>{{this.multilinguism.translate("rate")}} : {{ this.configurationService.RATE }}</label>
    <input style="display: block" type="range" min="0.1" max="10" step="0.1" name="rate"
      [(ngModel)]="this.configurationService.RATE" />
    <br>
    <label>{{this.multilinguism.translate("volume")}} : {{ this.configurationService.VOLUME }}</label>
    <input style="display: block" type="range" min="0.0" max="1.0" step="0.1" name="volume"
      [(ngModel)]="this.configurationService.VOLUME" />
  </div>
</div>