.snapBar{
  position: absolute;
  width: 6cm;
  height: 1.5cm;
  transition: top 0.5s,  background-color 0.5s, opacity 0.5s;
  background-color: indianred;
}


.snapBarHidden{
  top:-100%;
  right: 0;
  opacity: 0;
}

.snapBarDisplayed{
  top: 0;
  right: 0;
  opacity: 1;
}

.snap{
  transform: translateY(50%);
  height: 50%;
  width: 90%;
  text-align: center;
}
