.cursor {
  z-index: 99999999999999999;
  border: none;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 100%;
}

progress[value]::-webkit-progress-value {
  align-items: center;
  align-content: center;
  background-color: royalblue;
}

p {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
}

a {
  color: teal;
}
