.page {
  margin-top: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.fieldsSelector {
  padding-top: 10px;
  padding-left: 10px;
  width: calc(100% - 10px);
}

.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.element {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1px;
  row-gap: 1px;
  padding-bottom: 20px;
  align-items: center;
}


.element .label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.element .input {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
