<div class="rightContainer height90" *ngIf="this.isInformationsDisplayed()">
  <div class="element height90 name">
    <div class="icon floatLeft" [ngStyle]="{'background-image':this.getIcon('name')}">

    </div>
    <div class="label floatLeft">
      Name
    </div>
    <div class="inputField floatLeft">
      <input [(ngModel)]="this.editionService.name" type="text" class="input" placeholder="Entrez le nom de l'élément">
    </div>
  </div>

  <div class="element height90 image">
    <div class="icon floatLeft" [ngStyle]="{'background-image':this.getIcon('image')}">

    </div>
    <div class="label floatLeft">
      Image
    </div>
    <div class="inputField floatLeft">
      <input type="button" value="Choisir une image" class="input" (click)="this.imageChoseClick()">
    </div>
  </div>

  <div class="element height90 type">
    <div class="icon floatLeft" [ngStyle]="{'background-image':this.getIcon('type')}">

    </div>
    <div class="label floatLeft">
      Type
    </div>
    <div class="inputField floatLeft">
      <form class="input">
        <input id="radioButton" [(ngModel)]="this.editionService.radioTypeFormat" name="typeFormat" type="radio" value="button"
               checked>
        <label class="radio" for="radioButton">Button</label>
        <input id="radioFolder" [(ngModel)]="this.editionService.radioTypeFormat" name="typeFormat" type="radio" value="folder">
        <label class="radio" for="radioFolder">Folder</label>
      </form>
    </div>
  </div>

  <div class="element height90">
    <div class="icon floatLeft" [ngStyle]="{'background-image':this.getIcon('other')}">

    </div>
    <div class="label floatLeft">
      Autre
    </div>
    <div class="inputField floatLeft">
      <div class="input">
        <input class="inputHalfLeft" *ngIf="this.editionService.radioTypeFormat=='button'" type="button" value="Formes"
               (click)="getWordList(this.editionService.name)">
        <input class="inputHalfRight" *ngIf="this.editionService.radioTypeFormat=='button'" type="button" value="Evenements"
               (click)="getEvents()">
      </div>
    </div>
  </div>

</div>
