  .rightContainer {
  display: inline-grid;
  width: 90%;
  margin-left: 5%;
  transform: translateY(6%);
}

  .rightContainer .element {
  width: 94%;
  margin-left: 3%;
  transform: translateY(5%);
  background-color: lightgrey;
}

  .rightContainer .element .icon {
  height: 100%;
  width: 15%;
  background-color: lightgrey;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

  .rightContainer .element .label {
  height: 40%;
  width: 10%;
  margin-left: 5%;
  transform: translateY(70%);
}

  .rightContainer .element .inputField {
  height: 60%;
  width: 60%;
  margin-left: 5%;
  transform: translateY(55%);
}


  .rightContainer .element .inputField .input {
  margin: 0 0 0 0;
  width: 100%;
}

  .rightContainer .element .inputField .input .inputHalfLeft {
  width: 45%;
  margin: 0 10% 0 0;
}

  .rightContainer .element .inputField .input .inputHalfRight {
  margin: 0 0 0 0;
  width: 45%;
}


  .floatLeft {
    float: left;
  }

  .height90 {
    height: 90%;
  }

  .imageContainer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
