
.tableTitle {
  border-top: black solid 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.element {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 33% 67%;
  column-gap: 1px;
  row-gap: 1px;
  padding-bottom: 20px;
}

.element .label {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.element .input {
  padding: 0;
  box-sizing: border-box;
}

.selectBox{
  display: block;
  width: 100%;
}
