.topBackBar {
  height: 50px;
  width: 100%;
  background-color: dimgray;
}

.topBarBackIcon {
  display: inline-block;
  margin-top: 7px;
  margin-left: 7px;
  height: 32px;
  width: 32px;
  fill: white;
  padding: 5px;
  border-radius: 8px;
  background-color: dimgray;
}

.topBarBackIcon:hover {
  background-color: grey;
}

.topBarBackIcon:active {
  background-color: dimgray;
}

.topBarLabel {
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: 600;
  color: white;
}

.titleContainer{
  height: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
