.profilePicContainer {
  box-shadow: none;
  height: 168px;
  left: 15px;
  width: 168px;
  border-radius: 100%;
  outline: none;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  background: #fff;
  display: block;
  cursor: pointer;
}

.img {
  display: block;
  border-radius: 100%;
  height: 160px;
  position: relative;
  width: 160px;
  background-color: #fff;
  border: 6px solid #d1d5da;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.timeLineSelectorDeleteContainer {
  position: relative;
  top: -166px;
  left: 6px;
  width: 160px;
  height: 80px;
  word-wrap: break-word;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background: transparent;
  transition: background 0.2s ease-in-out;
}

.profilePicContainer:hover .timeLineSelectorDeleteContainer {
  background: linear-gradient(rgba(214, 0, 0, .5) 0%, rgba(214, 0, 0, .5) 50%, transparent);
}

.profilePicContainer:hover .timeLineSelectorDeleteContainer:hover {
  background: linear-gradient(rgba(214, 0, 0, .8) 0%, rgba(214, 0, 0, .8) 50%, transparent);
}

.timeLineSelectorChangeContainer {
  position: relative;
  top: -166px;
  left: 6px;
  width: 160px;
  height: 80px;
  word-wrap: break-word;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background: transparent;
  transition: background 0.2s ease-in-out;
}

.profilePicContainer:hover .timeLineSelectorChangeContainer {
  background: linear-gradient(transparent, rgba(0, 0, 214, .5) 50%, rgba(0, 0, 214, .5) 100%);
}

.profilePicContainer:hover .timeLineSelectorChangeContainer:hover {
  background: linear-gradient(transparent, rgba(0, 0, 214, .8) 50%, rgba(0, 0, 214, .8) 100%);
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;

}

.profilePicContainer:hover .timelineText {
  color: white;
}

.timelineText {
  color: transparent;
  display: block;
  margin: auto;
  padding: 35px 0 0 0;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 400;
  height: 40px;
  top: auto;
  width: 160px;
  transition: color 0.2s ease-in-out;
}

.accountInformations {
}

.profileInfo {
  width: 100%;
  height: 168px;
  padding: 10px;
}

.bottomButton {
}
