<div class="profileInfo width-100">
  <div class="profilePicContainer floatLeft">
    <img class="img"
         src="{{profilePicture}}">

    <div class="timeLineSelectorDeleteContainer" (click)="resetPictureProfile()">
      <div class="TimeLineSelector">
        <div class="timelineText centerText">
          Supprimer la photo
        </div>
      </div>
    </div>

    <label for="image-profile">
      <div class="timeLineSelectorChangeContainer">
        <div class="TimeLineSelector">
          <div class="timelineText centerText">
            Changer de photo
          </div>
        </div>
      </div>
    </label>
  </div>
  <input #file (change)="setProfilePicture(file.files)" onclick="this.value=null" type="file" id="image-profile"
         accept='image/*' class="hidden"/>

  <div class="centerText floatLeft">
    <div>
      <label>Nom:</label>
      <input #nomText type="text">
    </div>
    <div>
      <label>Email:</label>
      <input #emailText type="text">
    </div>
    <div>
    </div>
  </div>
</div>

<input type="button" value="Changer de compte">
