/* boxesComponent's private CSS styles */

.boxes {
  list-style-type: none;
  margin-top: -10px;
}

.wrapper {
  display: grid;
  width :100%;
  padding-bottom:10px;
}


 .button {
   font-size: 100%;
  margin-top:10px;
  color: black;
  cursor: pointer;
  position: relative;
  outline: none;
  background-color: darkseagreen;
  border: none;
  border-radius:15px;
  box-shadow: 0 5px #666;
  width: 95%;
  padding-top:95%;
  margin-left:2.5%;
  white-space: nowrap;
  overflow: hidden;
  }

 .actionButton{

}

  .button:hover {
  filter: brightness(80%);
}

 .button:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
  }

  .boxes  .folder {
}

.button .icon {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  outline: none;
  margin-top:-100%;
  width: 70%;
  height: 70%;
  padding-bottom:75%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button .label {
  position: relative;
  outline: none;
  border: none;
  width:100%;
  margin-top:5%;
  text-alignment: center;
}

  .backlabel{
  	margin-top: calc(-100% - 16px);
  	padding-top: calc(50% + 2px);
  }

.back {
  background-color: darkred;
}


.add {
  background-color: darkseagreen;
  opacity: 0.5;
}

.add:hover {
  opacity: 1;
}
