<div [ngStyle]="{'grid-template-columns': 'repeat(5, 1fr)', 'font-size' : '3vw'}" class="wrapper boxes"
     id="wrapper0">

  <ng-container *ngFor="let box of this.boardServiceService.board.boutons ">
    <li *ngIf="box.extCboardLabelKey === this.boardServiceService.folder">
      <ng-container *ngIf="box.loadBoard.path === ''; then first else second"></ng-container>
      <ng-template #first>
        <div
          (click)="onSelect(box)"
          [ngStyle]="{'background-color': box.backgroundColor}"
          class="button actionButton"
          id="{{box.id}}">
          <div [style.background-image]=this.getImgUrl(box)
               class="icon"
          ></div>
          <div class="label"
          >{{box.label}}</div>
        </div>
      </ng-template>
      <ng-template #second>
        <div
          (click)="onSelectFolder(box)"
          [ngStyle]="{'background-color': box.backgroundColor}"
          class="button folder"
          id="{{box.id}}">
          <div [style.background-image]="this.getImgUrl(box)"
               class="icon"
          ></div>
          <div class="label">{{box.label}}</div>
        </div>
      </ng-template>
    </li>
  </ng-container>
  <ng-template [ngIf]="this.boardServiceService.folder !== 'root' ">
    <button (click)="onSelectBack()"
            class="button back">
      <div class="backlabel"
      >back
      </div>
    </button>
  </ng-template>
  <ng-template [ngIf]="this.userBarServiceService.editOptionEnabled ">
    <button (click)="onSelectAdd()"
            class="button add">
      <div class="backlabel"
      > +
      </div>
    </button>
  </ng-template>
</div>

