<app-back-home-bar></app-back-home-bar>
<div class="edition width-100">

  <div class="leftPane floatLeft">
    <div class="leftEdition width-100 floatLeft">


      <div class="button" [ngStyle]="{'background-color': this.editionService.curentColor,
    'box-sizing': 'border-box',
     'border-width': '3px',
     'border-style': 'solid',
     'border-color': this.editionService.curentBorderColor}">
        <div class="image haveBackgroundImage"
             [ngStyle]="{'background-image': this.editionService.imageURL }">
        </div>
        <div class="label centerText">
          {{this.editionService.name}}
        </div>
      </div>

    </div>

    <div class="width-100 floatLeft">
      <div class="menu">
        <ng-container *ngFor="let section of this.editionService.menu">
          <div>
            <div>
              <div class="menu-item-title-container"
                   [class.selected]="this.editionService.currentEditPage===section"
                   (click)="this.selectMenu(section)">
                <div>
                  {{this.multilinguism.translate(section)}}
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="save centerText floatLeft" (click)="this.save()">
      {{this.multilinguism.translate("save")}}
    </div>
    <br>
    <div *ngIf="nameEmpty" class="messageError floatLeft">
      {{this.multilinguism.translate("nameEmpty")}}
    </div>

  </div>

  <div class="rightPane floatLeft">
    <ng-container *ngIf="this.isDisplayed('grammar')">
      <app-a-venir></app-a-venir>
    </ng-container>
    <ng-container *ngIf="this.isDisplayed('interactions')">
      <app-event></app-event>
    </ng-container>
    <ng-container *ngIf="this.isDisplayed('otherForms')">
      <app-alternative-forms></app-alternative-forms>
    </ng-container>
    <ng-container *ngIf="this.isDisplayed('appearance')">
      <app-image-selection-page></app-image-selection-page>
    </ng-container>
    <ng-container *ngIf="this.isDisplayed('information')">
      <app-information-edition-page></app-information-edition-page>
    </ng-container>
  </div>
</div>
