<app-back-home-bar></app-back-home-bar>
<div class="edition">

  <div class="save" (click)="this.save()">
    save
  </div>

  <div class="leftPane">
  <div class="leftEdition floatLeft">

    <div class="colorPickerContainer">
      <div class="colorPicker" (click)="pickAColor('inside')"
           [ngStyle]="{'background-color':this.curentColor}">

      </div>
    </div>

    <div class="colorPickerContainerDown floatLeft">
      <div class="colorPicker" (click)="pickAColor('border')"
           [ngStyle]="{'background-color':this.curentBorderColor}">

      </div>
    </div>

    <div class="button" [ngStyle]="{'background-color': this.curentColor,
    'box-sizing': 'border-box',
     'border-width': '3px',
     'border-style': 'solid',
     'border-color': this.curentBorderColor}">
      <div class="image imageContainer"
           [style.background-image]="this.sanitizer.bypassSecurityTrustStyle('url(' +this.editionService.imageURL+')')">

      </div>
      <div class="label">
        {{this.editionService.name}}
      </div>
    </div>

  </div>

  <div class="menu-container floatLeft">
    <div class="menu">
      <ng-container *ngFor="let menus of this.editionService.menu">
        <div class="menu-item-container">
          <div class="menu-item">
            <div class="menu-item-title-container"
                 [class.selected]="this.editionService.currentEditPage===menus"
                 (click)="this.selectMenu(menus)">
              <div class="menu-item-title">
                {{menus}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  </div>

  <div class="rightPane">
    <app-event></app-event>
    <app-alternative-forms></app-alternative-forms>
    <app-image-selection-page></app-image-selection-page>
    <app-information-edition-page></app-information-edition-page>
  </div>


  <div class="popup" *ngIf="this.colorPicked !== null">
    <div class="popupcontainer">

      <div class="palettes">
        <ng-container *ngFor="let palette of this.paletteService.palettes">
          <div class="paletteLabel floatLeft" (click)="selectThePalette(palette.name)">
            {{palette.name}}
            <div class="moreLess">
              {{this.selectedPalette == palette.name ? '^' : 'v'}}
            </div>
          </div>
          <div class="palette floatLeft" *ngIf="this.selectedPalette == palette.name"
               [ngStyle]="{'grid-template-rows': 'repeat(' + this.paletteService.rowNumber(palette.colors.length) + ',30px)'}">
            <div class="color floatLeft" [class.realcolor]="color!==null" *ngFor="let color of palette.colors"
                 [ngStyle]="{'background-color': color}"
                 (click)="this.selectColor(color);">

            </div>
          </div>
        </ng-container>
      </div>


    </div>
    <div class="close imageContainer" (click)="this.colorPicked = null;"
         [ngStyle]="{'background-image':this.getIcon('clear')}">

    </div>
  </div>

</div>
