.edition {
  height: calc(100vh - 50px);
  opacity: 1;
  background-color: white;
}

.rightPane {
  width: 80%;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.rightPane::-webkit-scrollbar {
  display: none;
}

.leftPane {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.leftPane::-webkit-scrollbar {
  display: none;
}


.edition .save {
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 70%;
  font-weight: 600;
  background-color: lightgrey;
  border-radius: 5px;
  margin-left: calc(15% - 10px);
}

.edition .save:hover {
  background-color: grey;
}

.edition .save:active {
  background-color: dimgrey;
}

.edition .leftEdition .button {
  padding-bottom: 80%;
  width: 80%;
  margin-left: 10%;
  height: 0;
  border-radius: 15px;
}

.edition .leftEdition .button .image {
  padding-top: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.edition .leftEdition .button .label {
  width: 90%;
  margin-left: 5%;
}


.edition .leftEdition {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.menu {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  display: block;
}

.menu-title-container {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  line-height: 20px;
  color: #586069;
  list-style: none;
  background-color: #d1d5da;
  border: 1px solid #d1d5da;
  font-size: 18px;
  font-weight: 600;
}

.menu-item-title-container {
  position: relative;
  display: block;
  padding: 8px 10px;
  color: black;
  text-decoration: none;
  list-style: none;
  background-color: #f4f4f4;
  border: 1px solid #d1d5da;
  font-size: 14px;
}

.menu-item-title-container:hover:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  content: "";
  background-color: lightgrey;
}

.menu-item-title-container:active:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  content: "";
  background-color: grey;
}

.menu-item-title-container.selected:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  content: "";
  background-color: lightgrey;
}

.menu-item-title-container:hover {
  background-color: #eef4f9;
}

.menu-item-title-container.selected {
  background-color: #eef4f9;
  font-weight: 600;
}

.popup {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  background-color: dimgrey;
}

.popup .popupContainer {
  height: 96%;
  width: 96%;
  margin-left: 2%;
  transform: translateY(2.5%);
  background-color: lightgrey;
}

.popup .close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: red;
}

.palettes {
  display: inline-block;
  margin-top: 65px;
  width: 80%;
  margin-left: 5%;
  height: fit-content;
}

.palettes .palette {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  background-color: grey;
  margin-bottom: 10px;
}


.palettes .paletteLabel {
  height: 20px;
  background-color: grey;
}

.palettes .paletteLabel:hover {
  background-color: dimgrey;
}

.moreLess {
  float: right;
  margin-right: 5%;
}

.palettes .palette .color {
  margin-top: 10%;
  margin-left: 10%;
  height: 80%;
  width: 80%;
}

.palettes .palette .realcolor {
  margin-top: 10%;
  margin-left: 10%;
  height: 80%;
  width: 80%;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.palettes .palette .realcolor:hover {
  cursor: pointer;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}
