.keyboard{
  height: calc(100vh - 3.5cm);
  width: 100%;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.settings{
  height: 1cm ;
  width: 100%;
  background-color: grey;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.settings .edit{
  float: left;
  height: 0.8cm;
  width: 0.8cm;
  margin-top: 0.1cm;
  margin-left: 10px;
  border: deepskyblue 3px solid;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 25%;
}

.settings .edit .image{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.settings .editSettings{
  float: left;
  width: 20%;
  margin-left: 10px;
  transform: translateY(15%);
  height: 80%;
  background-color: lightgrey;
}

.settings .editSettings:hover{
  background-color: dimgrey;
}

.settings .editSettings input{
  visibility: hidden;
}

.settings .editSettings .editButton {
  transform: translateY(45%);
  text-align: center;
  float: left;
  width: 80%;
  height: 50%;
}

.settings .editSettings .editImg{
  transform: translateY(50%);
  float: left;
  width: 20%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.settings .gridSettings{
  float: right;
  width: 20%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.settings .gridSettings .inputSize{
  text-align: center;
  float: left;
  width: 40%;
  height: 80%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.settings .gridSettings .x{
   float: left;
   margin: 0 0 0 0;
  margin-top: 5px;
   padding: 0 0 0 0;
 }

.keyboard .wrapper{
  display: grid;
  height:100%;
  width:100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.keyboard .wrapper .elementContainer{
  float:left;
  height:100%;
  width:100%;
  min-height: 1cm;
  min-width: 1cm;
  visibility: hidden;
}



.keyboard .wrapper .elementContainer .edit{
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 7%;
  border: deepskyblue 3px solid;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 25%;
  top: -87%;
  visibility: visible;
}

.keyboard .wrapper .elementContainer .edit .image{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  transform: translateY(10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.keyboard .wrapper .elementContainer .suppr{
  cursor: pointer;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 7%;
  top: -83%;
  background-color: indianred;
  border-radius: 50%;
  visibility: visible;

  border-style: solid;
  border-color: darkred;
  border-width: 2px;
  box-sizing: border-box;
}


.keyboard .wrapper .elementContainer .suppr:hover{
  background-color: darkred;
}


.keyboard .wrapper .elementContainer .opacity{
  cursor: pointer;
  position: relative;
  float: bottom;
  width: 30px;
  height: 30px;
  margin-left: 7%;
  top: -30px;
  background-color: lightgrey;
  border-radius: 50%;
  visibility: visible;

  border-style: solid;
  border-color: dimgrey;
  border-width: 2px;
  box-sizing: border-box;
}


.keyboard .wrapper .elementContainer .opacity:hover{
  background-color: grey;
}

.keyboard .wrapper .elementContainer .suppr .image, .keyboard .wrapper .elementContainer .opacity .image{
  width: 70%;
  height: 70%;
  margin-left: 15%;
  transform: translateY(20%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}


.keyboard .wrapper .elementContainer .element:hover{
  filter: brightness(80%);
}



.keyboard .wrapper .elementContainer .element{
  cursor: pointer;
  height:90%;
  width:90%;
  transform: translateY(5%);
  margin-left: 5%;
  visibility: visible;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  overflow: hidden;

}

.keyboard .wrapper .elementContainer .element .image{
  height:70%;
  width:90%;
  margin-left: 5%;
  transform: translateY(10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.keyboard .wrapper .elementContainer .label{
  transform: translateY(40%);
  min-font-size: 1vh;
  font-size: 2vh;
  text-align: center;
  height:20%;
  width:90%;
  margin-left: 5%;
  visibility: visible;
}



.keyboard .wrapper .elementContainer .blurredElt{
  cursor: default;
  filter: blur(5px);
}

.keyboard .wrapper .elementContainer .blurredElt:hover{
  filter: blur(5px);
}

.keyboard .wrapper .elementContainer .visible{
  opacity: 0;
}

.add {
  opacity: 0.5;
}

.add:hover {
  opacity: 1;
  filter: brightness(150%);
}

.slidecontainer {
  width: 100%;
  outline: none;
  float: left;
}

.slider {
  margin-left: 1%;
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 20px;
  background: grey;
  outline: none;
  -webkit-transition: .2s;
  border-radius: 15px;
  outline: none;
  border: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
}

.slider::-moz-range-thumb {
  width: 10%;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
}



.gu-mirror {
  position: absolute !important;
  z-index: 9998 !important;
  opacity: 0.8;
}

.gu-mirror .element{
  cursor: pointer;
  height:90%;
  width:90%;
  transform: translateY(5%);
  margin-left: 5%;
  visibility: visible;
  border-radius: 10px;
}

.gu-mirror  .element .image{
  height:70%;
  width:90%;
  min-width: 90%;
  margin-left: 5%;
  transform: translateY(10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}

.gu-mirror  .label{
  transform: translateY(40%);
  min-font-size: 1vh;
  font-size: 2vh;
  text-align: center;
  height:20%;
  width:90%;
  margin-left: 5%;
  visibility: visible;
}





.gu-hide {
  display: contents;
  background-color: darkred;
  /*display: none !important;*/
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.4;
}
