<app-snap-bar></app-snap-bar>
<app-usertoolbar></app-usertoolbar>
<app-dialogbar></app-dialogbar>

<!-- edit settings toolbar displayed on top on keyboard when on edition mode -->
<div class="editionSettings width-100" *ngIf="this.userToolBarService.edit">

  <!-- checkbox used to select all the elements in edition mode -->
  <div class="selectCheckBox floatLeft" (click)="this.selectAll()">
    <div class="image haveBackgroundImage" [style.background-image]="this.editionService.selectAll?this.getIcon('check'):null">

    </div>
  </div>

  <!-- button used to edit all the selected elements-->
  <div class="editSettingsButton floatLeft" (click)=this.editAll()>
    <div class="editButtonLabel floatLeft centerText"> edit selected</div>
    <div class="editButtonImg haveBackgroundImage floatLeft" [style.background-image]="this.getIcon('edit')">
    </div>
  </div>

  <!-- button used to delete all the selected elements -->
  <div class="editSettingsButton floatLeft" (click)=this.deleteAll()>
    <div class="editButtonLabel floatLeft centerText"> delete selected</div>
    <div class="editButtonImg haveBackgroundImage floatLeft" [style.background-image]="this.getIcon('delete')">
    </div>
  </div>

  <!-- button used in order to change the background of the keyboard-->
  <!-- note: if we does not use this function for visual scene display we will have to move
        this function have to be moved in the setting of augCom -->
  <div class="editSettingsButton floatLeft">
    <label for="editBckButton">
      <div class="editButtonLabel floatLeft centerText"> change background</div>
      <div class="editButtonImg haveBackgroundImage floatLeft" [style.background-image]="this.getIcon('edit')">
      </div>
    </label>
    <input #file type="file" accept='image/*' id='editBckButton'
           (change)="this.boardService.updateBackground( file.files )">
  </div>

  <!-- input fields for column and row size, have to be changed with a button number incrementer -->
  <div class="gridSettings">
    <input class="inputSize floatLeft centerText" type="text" [(ngModel)]="this.boardService.sliderValueCol">
    <div class="x floatLeft">
      x
    </div>
    <input class="inputSize floatLeft centerText" type="text" [(ngModel)]="this.boardService.sliderValueRow">
  </div>
</div>

<!-- the keyboard containing the element wrapper -->
<div class="keyboard width-100" [ngStyle]="{'height': this.userToolBarService.edit? 'calc(100vh - 4.5cm)':'calc(100vh - 3.5cm)'}">

  <!-- the wrapper displayed with elements containing pictogram and corresponding text -->
  <div class="wrapper haveBackgroundImage height-width-100"
       [ngStyle]="{
          'grid-template-columns': 'repeat('+(this.boardService.sliderValueCol)+', 1fr)',
          'grid-template-rows': 'repeat(100, '+(100/(this.boardService.sliderValueRow))+'%)',
          'background-image' : this.boardService.background
        }"
       [dragula]="this.userToolBarService.edit ? 'VAMPIRE' :null">

    <!-- iterate among the list of element of the currentFolder -->
    <ng-container *ngFor="let element of this.getTempList()">

      <!-- display elementContainers with element having non empty type-->
      <div id="{{element.ID}}" class="elementContainer floatLeft" *ngIf="element.Type!=='empty'">

        <!-- an element composed of a pictogram and a corresponding text-->
        <div class="element" [class.notsearched]="searchStarted()&&!isSearched(element)"
             [class.searched]="searchStarted()&&isSearched(element)"
             [class.blurredElt]="element.ID==='#disable'" (click)="this.edit(element)"
             (touchstart)="this.pointerDown(element,0)" (touchend)="this.pointerUp(element,0)"
             (pointerdown)="this.pointerDown(element,1)" (pointerup)="this.pointerUp(element,1)" [ngStyle]="{'background-color': element.Color !== null ? element.Color : 'grey' ,
          'border-color': element.BorderColor === null || element.BorderColor === undefined ? 'black' : element.BorderColor,
          'box-shadow': this.getShadow(element) ,
          'opacity': this.getOpacity(element),
          'cursor': this.getCursor(element)}"
        [class.noImageElement]="this.boardService.getImgUrl(element) === '' "
        >

          <div class="image haveBackgroundImage" [style.background-image]="this.boardService.getImgUrl(element)"></div>

<!--          <svg viewBox="0 0 30 30">-->
<!--            <text x="50%" y="50%" dominant-baseline="middle"  text-anchor="middle">{{this.boardService.getLabel(element)}}</text>-->
<!--          </svg>-->
          <div class="adjustableText" >
          {{this.boardService.getLabel(element)}}
          </div>

        </div>

        <!-- in edit mode this button is used to delete the associated element -->
        <div class="deleteElement floatLeft" *ngIf="this.userToolBarService.edit" (click)="this.delete(element)">
          <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('delete')">

          </div>
        </div>

        <!-- in edit mode this button is used to select the associated element -->
        <div class="selectCheckBox floatLeft" *ngIf="this.userToolBarService.edit" (click)="this.select(element)">
          <div class="image haveBackgroundImage"
               [style.background-image]="this.editionService.isSelected(element)?this.getIcon('check'):null">

          </div>
        </div>

        <!-- in edit mode this button is used to change the visibility of the associated element for 'babble' function-->
        <div class="elementVisibility" *ngIf="this.userToolBarService.edit" (click)="this.changeVisibility(element)">
          <div class="image haveBackgroundImage"
               [style.background-image]="this.isVisible(element) ? this.getIcon('hide') : this.getIcon('show')">

          </div>
        </div>

      </div>

    </ng-container>

    <!-- ng container checking if back button have to be displayed -->
    <ng-container *ngIf="this.boardService.getCurrentFolder() !== '#HOME' && this.boardService.activatedElement==-1">

      <!-- container for the back button element -->
      <div id="backButton" class="elementContainer floatLeft no-drag">

        <!-- back button element-->
        <div class="element" (click)="this.boardService.backToPreviousFolder()" [ngStyle]="{'background-color': 'red'}">

          <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('retour')"></div>

          <div class="adjustableText" >
            retour
          </div>

        </div>

      </div>

    </ng-container>


    <!-- ng container checking if the add button have to be displayed -->
    <ng-container *ngIf="this.userToolBarService.edit">

      <!-- nav link to the edit route-->
      <nav class="no-drag">
        <a routerLink="/edit" class="no-drag">

          <!-- elementContainer for the add button element-->
          <div class="elementContainer floatLeft no-drag add height-width-100">

            <!-- add button element -->
            <div class="element" (click)="this.addNewElement()"
                 [ngStyle]="{'background-color': 'rgb(125,125,125)'}">

              <div class="image haveBackgroundImage" [style.background-image]="this.getIcon('add')">

              </div>

              <svg class="centerText" viewBox="0 0 30 20">
                <text class="centerText" x="50%" y="50%" dominant-baseline="middle"
                      text-anchor="middle">ajouter
                </text>
              </svg>

            </div>

          </div>

        </a>

      </nav>

    </ng-container>

  </div>
  <app-snap-bar></app-snap-bar>
</div>
