<app-usertoolbar></app-usertoolbar>
<app-dialogbar></app-dialogbar>
<!--<div class="slidecontainer" *ngIf="this.userToolBarService.edit">-->
<!--  <input  [(ngModel)]="this.boardService.sliderValueCol" class="slider" min="2" max="10" type="range" (change)="updateSliderValue()">-->
<!--</div>-->
<div class="settings" *ngIf="this.userToolBarService.edit">
  <div class="gridSettings">
  <input class="inputSize" type="text" [(ngModel)]="this.boardService.sliderValueCol" ><div class="x">x</div><input class="inputSize" type="text" [(ngModel)]="this.boardService.sliderValueRow">
  </div>
</div>

<div class="keyboard" [ngStyle]="{'height': this.userToolBarService.edit? 'calc(85vh - 1cm)':'85vh'}">

  <div class="wrapper" [ngStyle]="{'grid-template-columns': 'repeat('+(this.boardService.sliderValueCol)+', '+(100/(this.boardService.sliderValueCol))+'%)',
                                  'grid-template-rows': 'repeat('+(this.boardService.sliderValueRow)+', '+(100/(this.boardService.sliderValueRow))+'%)'}"
       [dragula]="'VAMPIRE'">

    <ng-container class="test" *ngFor="let element of this.getTempList()">

      <ng-container *ngIf="this.boardService.belongToActiveFolder(element)">
        <div class="elementContainer" >

          <div class="element" [class.blurredElt]="element.ElementID==='#disable'" (click)="this.edit(element)" (pointerdown)="this.pointerDown(element)" (pointerup)="this.pointerUp(element)" [ngStyle]="{'background-color': this.boardService.elementColor(element)}">

            <div class="image" [style.background-image]="this.boardService.getImgUrl(element)">

            </div>

            <div class="label">
            {{this.getLabel(element)}}
            </div>

          </div>

          <div class="suppr" *ngIf="this.userToolBarService.edit" (click)="this.boardService.delete(element)" >
            <div class="image" [style.background-image]="this.getIcon('delete')">

            </div>
          </div>

          <div class="edit">
          </div>

        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="this.boardService.currentFolder !== '.' && this.boardService.activatedElement==-1" >
    <div class="elementContainer" >

      <div class="element"  (click)="this.boardService.backToPreviousFolder()" [ngStyle]="{'background-color': 'red'}"> <!-- need to change élément by the label-->

        <div class="image"  [style.background-image]="this.getIcon('retour')">

        </div>

        <div class="label">
          retour
        </div>

      </div>

    </div>
    </ng-container>

    <ng-container *ngIf="this.userToolBarService.edit" >

      <nav>
        <a routerLink="/edit">

          <div class="elementContainer" >

            <div class="element"  (click)="this.userToolBarService.add = true " [ngStyle]="{'background-color': 'green'}"> <!-- need to change élément by the label-->

              <div class="image"  [style.background-image]="this.getIcon('add')">

              </div>

              <div class="label">
                ajouter
              </div>

            </div>

          </div>
        </a>
      </nav>
    </ng-container>

  </div>

</div>
