.keyboard {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  overflow-y: auto;
}

.editionSettings {
  height: 50px;
  background-color: var(--main-bg-color2);
  margin: 0 0 0 0;
  padding: 5px 0;
  border-bottom: 1px solid var(--main-bg-color1);
}


.editionSettings .selectCheckBox {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border: deepskyblue 3px solid;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 25%;
}

.editionSettings .selectCheckBox .image {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  transform: translateY(10%);
}

.editionSettings .editSettingsButton {
  margin-left: 10px;
  background-color: var(--main-bg-color1);
  height: 40px;
  width: 40px;
  /*margin-top: 0.1cm;*/
  box-sizing: border-box;
  border-radius: 25%;
}

.editionSettings .editSettingsButton:hover {
  background-color: var(--main-bg-color4);
}

.editionSettings .editSettingsButton input {
  visibility: hidden;
}

.editionSettings .editSettingsButton .editButtonLabel {
  transform: translateY(45%);
  width: 80%;
  height: 50%;
}

.editionSettings .editSettingsButton .editButtonImg {
  transform: translateY(50%);
  width: 100%;
  height: 50%;
}

.gridSettingsImage{
  margin-left: 30%;
  transform: translateY(25%);
}

.editionSettings .gridSettings {
  float: right;
  width: 20%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.editionSettings .gridSettings .inputSize {
  width: 15%;
  height: 100%;
  margin: 0 0 0 5%;
  padding: 0 0 0 0;
  border-radius: 50%;
  text-align: center;
}

.editionSettings .gridSettings .x {
  margin: 5px 0 0;
  padding: 0 0 0 0;
}

.keyboard .wrapper {
  height: 100%;
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: visible;
  grid-template-rows: 1fr;
}

.elementContainer {
  min-height: 1cm;
  min-width: 1cm;
  background-color: var(--main-bg-color3);
}


.elementContainer .add:hover {
  filter: brightness(80%);
}


.elementContainer .add {
  cursor: pointer;
  height: 50px;
  width: 100%;
  visibility: visible;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  background-color: var(--main-bg-color1);
  color: black;
  border-width: 0;
  border-color: transparent;
  box-shadow: inset 0 -10px 20px 0px #00000038;
}

.elementContainer .noImageElement {
  grid-template-rows: 40% 20%;
}

.elementContainer .add .image {
  height: calc(100% - 5px);
  margin-top: 5px;
  visibility: visible;
  align-items: center;
}

.elementContainer .label {
  min-font-size: 1vh;
  font-size: 2vh;
  height: 20%;
  width: 90%;
  margin-left: 5%;
  visibility: visible;
}

.adjustableText {
  text-align: center;
  font-size: 1.8vmin;
  width: 100%;
  height: fit-content;
  align-items: center;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-all;
}

.elementContainer .blurredElt {
  cursor: default;
  filter: blur(5px);
}

.elementContainer .blurredElt:hover {
  filter: blur(5px);
}

.elementContainer .searched:hover {
  filter: drop-shadow(0 0 20px yellow) saturate(300%)
}

.elementContainer .searched {
  filter: drop-shadow(0 0 20px yellow) saturate(300%)
}

.elementContainer .notsearched:hover {
  filter: brightness(50%);
}

.elementContainer .notsearched {
  filter: brightness(50%);
}

.elementContainer .visible {
  opacity: 0;
}

.slider {
  margin-left: 1%;
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 20px;
  background: var(--main-bg-color3);
  outline: none;
  -webkit-transition: .2s;
  border-radius: 15px;
  border: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
}

.slider::-moz-range-thumb {
  width: 10%;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
}
