<div class="page-container">
  <div class="page">

    <div class="menu-container">
      <div class="menu">

        <div class="menu-title-container">
          <div class="menu-title">
            Paramètres
          </div>
        </div>

        <ng-container *ngFor="let menus of menu">
          <div class="menu-item-container">
            <div class="menu-item">
              <div class="menu-item-title-container"
                   [class.selected]="selectedMenu===menus[0]"
                   (click)="this.selectMenu(menus[0])">
                <div class="menu-item-title">
                  {{menus[0]}}
                </div>
              </div>
              <ng-container *ngFor="let submenu of menus[1]">
                <div class="sub-menu-item-container">
                  <div class="sub-menu-item">
                    <div class="sub-menu-item-title-container"
                         [class.closed]="!(selectedMenu===menus[0])"
                         [class.selected]="selectedSubMenu===submenu && selectedMenu===menus[0]"
                         (click)="this.selectSubMenu(menus[0],submenu)">
                      <div class="sub-menu-item-title">
                        {{submenu}}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div class="menu-page-container">
      <div class="menu-page">
        <div class="menu-page-title-container">
          <div class="menu-page-title">
            {{getMenuPageTitle()}}
          </div>
        </div>
        <div class="menu-page-content-container">
          <div class="menu-page-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
