* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  height: 100%;
  width: 100%;
  margin-left: 0;
  background-color: white;

  font-family: Arial, sans-serif;

  overflow: hidden;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body {
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  --main-bg-color0: white;
  --main-bg-color1: lightgrey;
  --main-bg-color2: darkgrey;
  --main-bg-color3: grey;
  --main-bg-color4: dimgrey;
  --main-font: Arial, sans-serif;
  --main-picto-font: Arial, sans-serif;

  --main-size-font: 16px;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.centerText {
  text-align: center;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
.haveBackgroundImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.page {
  margin-top: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.page-content {
  padding-top: 10px;
  padding-left: 10px;
  width: calc(100% - 10px);
}

gridster .gridster-column,
gridster .gridster-row,
gridster-item {
  transition: unset !important;
}

