html{
  height: 100%;
  width: 100%;
  margin-left: 0;
  background-color: white;
  overflow: hidden;

  font-family: Arial, sans-serif;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body{
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fillParent{
  height: 100%;
  width: 100%;
}

.centerText {
  text-align: center;
}

.floatLeft{
  float: left;
}
