.share {
  opacity: 1;
}

.share .sharePanel {
  height: 50%;
  width: 90%;
  margin: 20px auto auto;
}

.share .sharePanel .shareSection {
  margin-left: auto;
  display: inline-grid;
  visibility: visible;
}

.share .sharePanel .shareSection .listElement {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  background: linear-gradient(transparent, lightgrey 100%);
}

.share .sharePanel .shareSection .listElement .image {
  height: 80%;
  width: 15%;
  transform: translateY(10%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.share .sharePanel .shareSection .listElement .label {
  height: 80%;
  width: 20%;
  margin-left: 5%;
  transform: translateY(50%);
}

.share .sharePanel .shareSection .inputField {
  height: 25%;
  width: 55%;
  transform: translateY(150%);
}
