<div class="share width-100">
  <div class="sharePanel">

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("importSave") + ":"}}
      </label>
      <input #file (change)="exploreAugcomZip(file.files)" accept=".augcom" onclick="this.value=null" type="file">
    </div>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("import save from snap core first") + ":"}}
      </label>
      <app-spb2aug></app-spb2aug>
    </div>

    <div class="import listElement">
      <label>
        {{this.multilinguism.translate("import save from life companion") + ":"}}
      </label>
      <app-life-companion2aug></app-life-companion2aug>
    </div>

    <!--          <div>-->
    <!--            <label class="floatLeft">-->
    <!--              {{this.multilinguism.translate("importZip") + ":"}}-->
    <!--            </label>-->
    <!--            <input #zip type="file" (change)="exploreZip(zip.files)">-->
    <!--          </div>-->

    <div class="export listElement">
      <label>
        {{this.multilinguism.translate("exportSave") + ":"}}
      </label>
      <input (click)="export()" type="button" value="Export">
    </div>

    <div class="exportTo listElement">
      <label>
        {{this.multilinguism.translate("exportPDF") + ":"}}
      </label>
      <input (click)="this.printToPDF()" type="button" value="Export">
    </div>

    <!--      <div>-->
    <!--        <label class="floatLeft">-->
    <!--          {{this.multilinguism.translate("importS4Y") + ":"}}-->
    <!--        </label>-->
    <!--        <input type="button" value="Import" (click)="parseAndCreateSpeak4YourselfGrid()">-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <label class="floatLeft">-->
    <!--          {{this.multilinguism.translate("importProloquo") + ":"}}-->
    <!--        </label>-->
    <!--        <input type="button" value="Import" (click)="parseAndCreateProloquoGrid()">-->
    <!--      </div>-->

    <!--    <app-saves></app-saves>-->

  </div>
</div>
