<div class="share" [class.selected]="this.userToolBarService.share">

  <div class="back">
    ^
  </div>

  <div class="sharePanel">


    <div class="shareSection">

      <div class="import listElement">
        <div class="image">

        </div>
        <div class="label">
            Import Save
            <div class="importField">
              <input type="file">
            </div>
        </div>
      </div>
      <div class="export listElement">
        <div class="image">

        </div>
        <div class="label">
            Export Save
          <div class="exportField">

          </div>
        </div>
      </div>
      <div class="exportTo listElement">
        <div class="image">

        </div>
        <div class="label">
            Export to PDF

          <div class="exportPDFField">

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
