<div class="ui centered aligned">
  <form (ngSubmit)="onSubmit(newGrid)" #newGrid="ngForm">
    <label>{{this.multilinguism.translate("nameOfTheGrid")}}</label>
    <input [(ngModel)]="this.nameGrid" id="nameGrid" type="text" class="form-control"
      placeholder="{{this.multilinguism.translate('nameOfTheGrid')}}" name="nameGrid" ngModel required>
    <br>
    <label for="titleFormat">{{this.multilinguism.translate("chooseGridModel")}}</label>
    <select [(ngModel)]="this.newGridModel" [ngModelOptions]="{standalone: true}" id="titleFormat"
      class="variantListBox">
      <option value="empty">{{this.multilinguism.translate("empty")}}</option>
      <option value="default">{{this.multilinguism.translate("default")}}</option>
    </select>
    <button mat-button mat-raised-button type="button" (click)="onSubmit(newGrid)" [mat-dialog-close]=""
      [disabled]="newGrid.invalid">{{this.multilinguism.translate('Valider')}}</button>
  </form>
</div>